
20th August Assignment!!!

Topic- String Based Assignment Problems..!!

In [2]:
# 1). Write a program to reverse a string.

In [1]:
# Input String!!!
input_string = "sourabh"

# Here I did slicing and store the result in reversed_string variable!!
reversed_string = input_string[::-1]

# Here I just print the output!!
print("Reversed string:", reversed_string)

Reversed string: hbaruos

In [4]:
# 2.Q). Check if a string is a palindrome.

In [5]:
# 
input_string = "sourabhyadav"

# Convert the input string to lowercase
input_string = input_string.lower()

# Remove spaces from the modified string
input_string = input_string.replace(" ", "")

# Check if the modified string is equal to its reverse
is_palindrome = input_string == input_string[::-1]

# Check if the string is a palindrome and print the result
if is_palindrome:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is not a palindrome.

In [6]:
# 3.Q) Convert a string to uppercase.

In [7]:
# This code convert a given string to uppercase.
# The original string is assigned to the variable "original_string".
# The "upper()" method is used to convert the original string to uppercase.

original_string = "data science"
uppercase_string = original_string.upper()

# It prints the output!!
print(uppercase_string)

DATA SCIENCE

In [8]:
# 4.) Convert a string to lowercase.

In [9]:
# Similarly 3rd question..
# I use here 'lower()' function to convert in lower case..

original_string = "DATA SCIENCE"
uppercase_string = original_string.lower()

# It prints the output!!
print(uppercase_string)

data science

In [10]:
# 5.) Count the number of vowels in a string.

In [11]:
# This code counts the number of vowels in a given string.
# It iterates through each character in the string and checks if it's a vowel,


# Input string!!
input_string = "wetefwuyeoyoeyo"

# Define the vowels to check for, both uppercase and lowercase
vowels = "AEIOUaeiou"

# Here I Initialize the vowel count..
vowel_count = 0

# Iterate through each character in the input string
for char in input_string:
    if char in vowels:
        vowel_count += 1

# Print the result!!
print(f"The number of vowels in '{input_string}' is: {vowel_count}")

The number of vowels in 'wetefwuyeoyoeyo' is: 8

In [12]:
# 6.) Count the number of consonants in a string.

In [13]:
# This code count the number of consonants in a string.

# Input string..
input_string = "ygfwtebeohboehtkugiti"

# Define the consonants to check for, both uppercase and lowercase letters..
consonants = "BCDFGHJKLMNPQRSTVWXYZbcdfghjklmnpqrstvwxyz"

# Count the consonants using list comprehension and len() function
consonant_count = len([char for char in input_string if char in consonants])

# Print the result
print(f"The number of consonants in '{input_string}' is: {consonant_count}")

The number of consonants in 'ygfwtebeohboehtkugiti' is: 13

In [14]:
# 7.) Remove all whitespaces from a string.

In [15]:
# This code removes all whitespaces from a given string.

# Input string with whitespaces!!
input_string = "I am sourabh student of fsds pro batch"

# Use the replace() method to remove whitespaces..
# Replace " " (space) with an empty string "" from the entire string..
no_whitespace_string = input_string.replace(" ", "")

# Print the original and modified strings
print("Original string:", input_string)
print("String with whitespaces removed:", no_whitespace_string)

Original string: I am sourabh student of fsds pro batch
String with whitespaces removed: Iamsourabhstudentoffsdsprobatch

In [16]:
# 8.) Find the length of a string without using the `len()` function.


1. The code sets up an input string, e.g., "Hello, World!".
    It initializes a counter called string_length to keep track of the string length.

2. Through a for loop, each character in the input string is processed one by one.
  For each character encountered, the string_length counter is incremented by 1.
 

3. After looping through all characters, the final value of string_length corresponds to the length of the string.
  The code outputs the calculated length, providing a way to find the length of the input string without using len().

In [17]:
# This code calculates the length of a string without using the len() function.

# Input string
input_string = "Hello, World"

# Initialize a counter..
string_length = 0

# Iterate through each character in the string
for char in input_string:
    string_length += 1

# Print the length of the string.
print("Length of the string:", string_length)

Length of the string: 12

In [18]:
# 9) Check if a string contains a specific word.

In [19]:
# Example strings
text = "Hello, this is an example string."
word_to_check = "example"

# Check if the word is present in the string
result = word_to_check in text

# Print the result
print(result)

True

Explanation:

. We define an example string text that contains the text in which we want to check for the presence of a specific word.

. We define another variable word_to_check containing the word we're interested in, which is "example" in this case.

. We use the in operator to directly check if the value of word_to_check is present anywhere within the value of text.

. The result of the word_to_check in text expression is assigned to the result variable. If word_to_check is found in text, result will be True; otherwise, it will be False.

. Finally, we print the value of the result variable, which will be True since the word "example" is present in the input string.

In [20]:
# 10) Replace a word in a string with another word.

In [21]:
# Example string
text = "Hello, this is an example string."

# Words to replace and their replacements
word_to_replace = "example"
replacement_word = "sample"

# Replace the word
new_text = text.replace(word_to_replace, replacement_word)

# Print the updated string
print(new_text)

Hello, this is an sample string.

Explanation:

1.We define an example string text that contains the text in which we want to replace a specific word.

2.We define two more variables: word_to_replace holds the word you want to replace, and replacement_word holds the word you want to replace it with.

3.The str.replace() method is used to replace all occurrences of word_to_replace in text with replacement_word. The result is stored in the variable new_text.

4.Finally, we print the value of new_text, which is the updated string with the specified word replaced.

In [22]:
# 11) Count the occurrences of a word in a string.

In [23]:
# Example string
text = "Hello, world this is my second assignment how are you this assignment is very easy ."

# Word to count
word_to_count = "assignment"

# Count the occurrences of the word
count = text.count(word_to_count)

# Print the count
print("The word '{}' appears {} times in the string.".format(word_to_count, count))

The word 'assignment' appears 2 times in the string.

Explanation:

1 We define an example string text in which we want to count the occurrences of a specific word.

2 We define the word_to_count variable, which holds the word you want to count.

3 The str.count() method is used to count the occurrences of word_to_count in text. The result is stored in the variable count.

4 We print a message using the format() method to display the original word and the count of its occurrences in the string.

In [24]:
# 12) Find the first occurrence of a word in a string.

In [25]:
# Here i take a string and store it in variable text..
text = "hii hellow hii how are you hellow hii."

# Word to find
word_to_find = "hii"

# Find the index of the first occurrence of the word
index = text.find(word_to_find)

if index != -1:
    print("The word '{}' first appears at index {} in the string.".format(word_to_find, index))
else:
    print("The word '{}' was not found in the string.".format(word_to_find))

The word 'hii' first appears at index 0 in the string.

Explanation:

1 We define an example string text in which we want to find the first occurrence of a specific word.

2 We define the word_to_find variable, which holds the word you want to locate.

3 The str.find() method is used to find the index of the first occurrence of word_to_find in text. If the word is found, the index is returned. If the word is not found, -1 is returned. The result is stored in the variable index.

4 We use a conditional statement to check whether the index is not equal to -1. If it's not -1, the word was found, so we print a message indicating the word and its index. Otherwise, we print a message indicating that the word was not found.

In [26]:
# 13) Find the last occurrence of a word in a string.

In [27]:
# Example string
text = "hii hellow hii how are you hellow hii."
# Word to find
word_to_find = "hii"

# Find the index of the last occurrence of the word
index = text.rfind(word_to_find)

if index != -1:
    print("The word '{}' last appears at index {} in the string.".format(word_to_find, index))
else:
    print("The word '{}' was not found in the string.".format(word_to_find))

The word 'hii' last appears at index 34 in the string.

Explanation:

We define an example string text in which we want to find the last occurrence of a specific word.

We define the word_to_find variable, which holds the word you want to locate.

The str.rfind() method is used to find the index of the last occurrence of word_to_find in text. If the word is found, the index is returned. If the word is not found, -1 is returned. The result is stored in the variable index.

We use a conditional statement to check whether the index is not equal to -1. If it's not -1, the word was found, so we print a message indicating the word and its index. Otherwise, we print a message indicating that the word was not found.

In [28]:
# 14) Split a string into a list of words.

In [29]:
# Example string
text = "kuehfiu wiuhgiueiue eiurhgiuergi euehgiuen ieuhin."

# Split the string into a list of words
word_list = text.split()

# Print the list of words
print(word_list)

['kuehfiu', 'wiuhgiueiue', 'eiurhgiuergi', 'euehgiuen', 'ieuhin.']

Explanation:

We define an example string text that contains the text you want to split into words.

The str.split() method is used without any arguments to split the string into a list of words. By default, it splits the string wherever whitespace (spaces, tabs, newlines) is encountered.

The result of the split operation is stored in the variable word_list.

Finally, we print the word_list, which will be a list of individual words from the input string.

In [30]:
# 15) Join a list of words into a string.

In [31]:
# List of words
word_list = ["Hello,", "this", "is", "an", "example", "string."]

# Join the list of words into a string
text = ' '.join(word_list)

# Print the joined string
print(text)

Hello, this is an example string.

Explanation:

We define a list of words word_list that you want to join together into a single string.

The str.join() method is used to join the elements of word_list into a string. We provide a space ' ' as the separator between the words.

The result of the join operation is stored in the variable text.

Finally, we print the text, which will be a string containing all the words joined together with spaces.

In [32]:
"""16) Convert a string where words are separated by spaces to one where words
are separated by underscores."""

'16) Convert a string where words are separated by spaces to one where words\nare separated by underscores.'

In [33]:
# Example string with spaces
original_string = "Convert a string where words are separated by spaces."

# Replace spaces with underscores
underscore_string = original_string.replace(' ', '_')

# Print the converted string
print(underscore_string)

Convert_a_string_where_words_are_separated_by_spaces.

Explanation:

We define an example string original_string that contains the text with spaces that you want to convert.

The str.replace() method is used to replace all occurrences of a space ' ' with an underscore '_' in the original_string.

The result of the replace operation is stored in the variable underscore_string.

Finally, we print the underscore_string, which will be a string where spaces have been replaced by underscores.

In [34]:
# 17) Check if a string starts with a specific word or phrase.

In [35]:
# Example string
text = "Hello, this is an example string."

# Word or phrase to check
word_to_check = "Hello"

# Check if the string starts with the specified word or phrase
starts_with_word = text.startswith(word_to_check)

# Print the result
print(starts_with_word)  # Output will be True

True

Explanation:

We define an example string text that you want to check if it starts with a specific word or phrase.

We define the word_to_check variable, which holds the word or phrase you want to check for at the beginning of the string.

The str.startswith() method is used to check if the text starts with the value of word_to_check. The result is stored in the starts_with_word variable.

Finally, we print the value of starts_with_word, which will be True if the string starts with the specified word or phrase, and False otherwise.

In [36]:
# 18) Check if a string ends with a specific word or phrase.

In [37]:
# Example string
text = "This is the end of the example string."

# Word or phrase to check
word_to_check = "string."

# Check if the string ends with the specified word or phrase
ends_with_word = text.endswith(word_to_check)

# Print the result
print(ends_with_word)  # Output will be True

True

Explanation:

We define an example string text that you want to check if it ends with a specific word or phrase.

We define the word_to_check variable, which holds the word or phrase you want to check for at the end of the string.

The str.endswith() method is used to check if the text ends with the value of word_to_check. The result is stored in the ends_with_word variable.

Finally, we print the value of ends_with_word, which will be True if the string ends with the specified word or phrase, and False otherwise.

In [38]:
# 19) Convert a string to title case (e.g., "hello world" to "Hello World").

In [39]:
# Example string
text = "hello world"

# Convert the string to title case
title_case_text = text.title()

# Print the result
print(title_case_text)  # Output will be "Hello World"

Hello World

Explanation:

We define an example string text that you want to convert to title case.

The str.title() method is used to convert each word in the string to title case, where the first letter of each word is capitalized.

The result of the title case conversion is stored in the variable title_case_text.

Finally, we print the title_case_text, which will be the string in title case.

In [40]:
# 20) Find the longest word in a string.

In [41]:
# Example string
text = "This is an example sentence to find the longest word."

# Split the string into words
words = text.split()

# Find the longest word
longest_word = max(words, key=len)

# Print the longest word
print("The longest word is:", longest_word)

The longest word is: sentence

Explanation:

We define an example string text that contains the sentence in which you want to find the longest word.

The str.split() method is used to split the string into a list of words. By default, it splits the string using spaces as separators.

The max() function is used with the key parameter set to len to find the word with the maximum length from the list of words. The len function calculates the length of each word, and max uses this information to determine the longest word.

The result, which is the longest word, is stored in the variable longest_word.

Finally, we print the longest_word.

In [42]:
# 21) Find the shortest word in a string.

In [43]:
# Example string
text = "This is an example sentence to find the shortest word."

# Split the string into words
words = text.split()

# Find the shortest word
shortest_word = min(words, key=len)

# Print the shortest word
print("The shortest word is:", shortest_word)

The shortest word is: is

Explanation:

We define an example string text that contains the sentence in which you want to find the shortest word.

The str.split() method is used to split the string into a list of words. By default, it splits the string using spaces as separators.

The min() function is used with the key parameter set to len to find the word with the minimum length from the list of words. The len function calculates the length of each word, and min uses this information to determine the shortest word.

The result, which is the shortest word, is stored in the variable shortest_word.

Finally, we print the shortest_word.

Running this code will give you the shortest word in the provided string. If there are multiple words with the same minimum length, this code will return the first word encountered in the list.

In [44]:
# 22) Reverse the order of words in a string.

In [45]:
# Example string
text = "This is an example sentence to reverse."

# Split the string into words
words = text.split()

# Reverse the order of words
reversed_words = words[::-1]

# Join the reversed words into a string
reversed_text = ' '.join(reversed_words)

# Print the reversed string
print(reversed_text)

reverse. to sentence example an is This

Explanation:

We define an example string text that contains the sentence whose word order you want to reverse.

The str.split() method is used to split the string into a list of words. By default, it splits the string using spaces as separators.

We use list slicing with '[::-1]' to reverse the order of the words in the list.

The str.join() method is used to join the reversed words into a string, using a space ' ' as the separator between the words.

The result, which is the reversed string, is stored in the variable reversed_text.

Finally, we print the reversed_text, which will be the string with the words in reverse order.

In [46]:
# 23) Check if a string is alphanumeric.

In [47]:
# Example strings
string1 = "Hello123"
string2 = "Hello 123"
string3 = "Hello!"

# Check if the strings are alphanumeric
is_alphanumeric1 = string1.isalnum()
is_alphanumeric2 = string2.isalnum()
is_alphanumeric3 = string3.isalnum()

# Print the results
print(f"'{string1}' is alphanumeric:", is_alphanumeric1)  # Output will be True
print(f"'{string2}' is alphanumeric:", is_alphanumeric2)  # Output will be False
print(f"'{string3}' is alphanumeric:", is_alphanumeric3)  # Output will be False

'Hello123' is alphanumeric: True
'Hello 123' is alphanumeric: False
'Hello!' is alphanumeric: False

Explanation:

We define three example strings: string1, string2, and string3.

The str.isalnum() method is used to check if a string consists only of alphanumeric characters (letters and digits). It returns True if all characters in the string are alphanumeric, and False otherwise.

We use the is_alphanumeric1, is_alphanumeric2, and is_alphanumeric3 variables to store the results of the isalnum() checks for each string.

Finally, we print the results to see whether each string is alphanumeric or not.

In [48]:
# 24) Extract all digits from a string.

In [49]:
# Example string
text = "This is 123 an example 456 string 789 with digits."

# Extract digits from the string
digits = ''.join(char for char in text if char.isdigit())

# Print the extracted digits
print(digits)

123456789

Explanation:

We define an example string text that contains a mixture of characters and digits.

We use a list comprehension to iterate through each character in the text and check if it is a digit using the str.isdigit() method.

The resulting list of digits is joined back together using the join() method, resulting in a string containing only the extracted digits.

Finally, we print the digits string, which will contain all the digits extracted from the original string.

In [50]:
# 25) Extract all alphabets from a string.

In [51]:
# Example string
text = "This is an example string with alphabetic characters."

# Extract alphabetic characters from the string
alphabets = ''.join(char for char in text if char.isalpha())

# Print the extracted alphabetic characters
print(alphabets)

Thisisanexamplestringwithalphabeticcharacters

Explanation:

We define an example string text that contains a mixture of characters including alphabetic and non-alphabetic ones.

We use a list comprehension to iterate through each character in the text and check if it is an alphabetic character using the str.isalpha() method.

The resulting list of alphabetic characters is joined back together using the join() method, resulting in a string containing only the extracted alphabetic characters.

Finally, we print the alphabets string, which will contain all the alphabetic characters extracted from the original string.

In [52]:
# 26) Count the number of uppercase letters in a string.

In [53]:
# Example string
text = "This String Contains UPPERCASE Letters."

# Count the number of uppercase letters
uppercase_count = sum(1 for char in text if char.isupper())

# Print the count
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 13

Explanation:

We define an example string text that contains a mixture of uppercase and lowercase letters.

We use a generator expression with sum() to iterate through each character in the text and check if it is an uppercase letter using the str.isupper() method.

The generator expression produces a sequence of 1s for each uppercase letter found in the string, and sum() calculates the total count of uppercase letters.

Finally, we print the uppercase_count, which will be the count of uppercase letters in the input string.

In [54]:
# 27) Count the number of lowercase letters in a string.

In [55]:
# Example string
text = "This String Contains lowercase letters."

# Count the number of lowercase letters
lowercase_count = sum(1 for char in text if char.islower())

# Print the count
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 31

Explanation:

We define an example string text that contains a mixture of uppercase and lowercase letters.

We use a generator expression with sum() to iterate through each character in the text and check if it is a lowercase letter using the str.islower() method.

The generator expression produces a sequence of 1s for each lowercase letter found in the string, and sum() calculates the total count of lowercase letters.

Finally, we print the lowercase_count, which will be the count of lowercase letters in the input string.

In [56]:
# 28) Swap the case of each character in a string.

In [57]:
# Example string
text = "Hello World!"

# Swap the case of each character
swapped_text = text.swapcase()

# Print the swapped text
print(swapped_text)

hELLO wORLD!

Explanation:

We define an example string text that you want to swap the case of.

The str.swapcase() method is used to create a new string with each character's case swapped (lowercase characters become uppercase, and vice versa).

The result of the swap case operation is stored in the variable swapped_text.

Finally, we print the swapped_text, which will be the string with the case of each character swapped.

In [58]:
# 29) Remove a specific word from a string.

In [59]:
# Example string
text = "This is an example sentence containing the word example."

# Word to remove
word_to_remove = "example"

# Remove the specified word
new_text = text.replace(word_to_remove, '')

# Print the updated string
print(new_text)

This is an  sentence containing the word .

Explanation:

We define an example string text that contains the sentence from which you want to remove a specific word.

We define the word_to_remove variable, which holds the word you want to remove from the string.

The str.replace() method is used to replace all occurrences of word_to_remove with an empty string '', effectively removing the word from the string.

The result of the replace operation is stored in the variable new_text.

Finally, we print the new_text, which will be the updated string with the specified word removed.

In [60]:
# 30) Check if a string is a valid email address.

In [61]:
# Example email addresses
email1 = "example@example.com"
email2 = "invalid_email"

# Check if the email contains exactly one '@' symbol
if email1.count('@') == 1:
    # Split the email into username and domain parts
    username, domain = email1.split('@')

    # Check if the username and domain are non-empty
    if username and domain:
        # Check if the domain contains at least one '.' character
        if '.' in domain:
            print(f"'{email1}' is a valid email address.")
        else:
            print(f"'{email1}' is not a valid email address.")
    else:
        print(f"'{email1}' is not a valid email address.")
else:
    print(f"'{email1}' is not a valid email address.")

# Repeat the above steps for email2
if email2.count('@') == 1:
    username, domain = email2.split('@')
    if username and domain:
        if '.' in domain:
            print(f"'{email2}' is a valid email address.")
        else:
            print(f"'{email2}' is not a valid email address.")
    else:
        print(f"'{email2}' is not a valid email address.")
else:
    print(f"'{email2}' is not a valid email address.")

'example@example.com' is a valid email address.
'invalid_email' is not a valid email address.

Explanation:

We define two example email addresses: email1 and email2.

For each email address, we first check if it contains exactly one "@" symbol.

If the "@" symbol count is correct, we split the email address into username and domain parts.

We then check if both the username and domain are non-empty.

If the username and domain are non-empty, we check if the domain contains at least one "." character.

Based on the results of the checks, we print whether the email address is considered valid or not.

In [62]:
# 31) Extract the username from an email address string.

In [63]:
# Example email address
email = "user@example.com"

# Extract the username
username = email.split('@')[0]

# Print the extracted username
print("Username:", username)

Username: user

Explanation:

We define an example email address email that you want to extract the username from.

We use the str.split('@') method to split the email address into a list of parts at the "@" symbol. The [0] index is used to access the first part, which is the username.

The extracted username is stored in the variable username.

Finally, we print the username, which will be the username part of the email address.

In [64]:
# 32) Extract the domain name from an email address string.

In [65]:
# Example email address
email = "user@example.com"

# Extract the domain name
domain = email.split('@')[1]

# Print the extracted domain name
print("Domain:", domain)

Domain: example.com

Explanation:

We define an example email address email that you want to extract the domain name from.

We use the str.split('@') method to split the email address into a list of parts at the "@" symbol. The [1] index is used to access the second part, which is the domain name.

The extracted domain name is stored in the variable domain.

Finally, we print the domain, which will be the domain name part of the email address.

In [66]:
# 33) Replace multiple spaces in a string with a single space.

In [67]:
import re

# Example string with multiple spaces
text = "This   is   an   example   string   with   multiple   spaces."

# Replace multiple spaces with a single space
cleaned_text = re.sub(r'\s+', ' ', text)

# Print the cleaned text
print(cleaned_text)

This is an example string with multiple spaces.

Explanation:

We import the re module to work with regular expressions.

We define an example string text that contains multiple spaces.

The re.sub() function is used to substitute all occurrences of one or more whitespace characters (spaces, tabs, newlines, etc.) with a single space. The regular expression \s+ matches one or more whitespace characters.

The result of the re.sub() operation is stored in the variable cleaned_text.

Finally, we print the cleaned_text, which will be the string with multiple spaces replaced by a single space.

In [68]:
# 34) Check if a string is a valid URL.

In [69]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid_url"

print(is_valid_url(url1))  # Output will be True
print(is_valid_url(url2))  # Output will be False

True
False

Explanation:

We import the urlparse function from the urllib.parse module, which allows us to parse URLs.

We define a function is_valid_url that takes a URL string as an argument.

Inside the function, we use a try block to handle possible exceptions that might occur during URL parsing.

We use the urlparse() function to parse the URL. If the URL is valid, this function will return a result object with various components like scheme, netloc, path, query, etc.

We use a list comprehension and the all() function to check if both the scheme and netloc components are present in the result object. This indicates that the URL is valid.

If the URL is not valid or if an exception occurs during parsing, the ValueError exception will be caught, and the function will return False.

Finally, we print the result of the is_valid_url function for each example URL.

In [70]:
# 35)  Extract the protocol (http or https) from a URL string.

In [71]:
from urllib.parse import urlparse

# Example URLs
url1 = "https://www.example.com"
url2 = "http://example.org"
url3 = "ftp://ftp.example.net"

# Extract the protocol from the URL
def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

# Example usage
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print(f"Protocol for {url1}: {protocol1}")
print(f"Protocol for {url2}: {protocol2}")
print(f"Protocol for {url3}: {protocol3}")

Protocol for https://www.example.com: https
Protocol for http://example.org: http
Protocol for ftp://ftp.example.net: ftp

Explanation:

We import the urlparse function from the urllib.parse module to parse URLs.

We define a function extract_protocol that takes a URL string as an argument.

Inside the function, we use urlparse() to parse the URL. The scheme component of the parsed URL indicates the protocol (http, https, ftp, etc.).

We return the value of the scheme component from the parsed URL.

In the example usage section, we call the extract_protocol function for each example URL and print the extracted protocol.

In [72]:
# 36) Find the frequency of each character in a string.

In [73]:
# Example string
text = "This is an example string."

# Create an empty dictionary to store character frequencies
char_frequency = {}

# Count the frequency of each character
for char in text:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

# Print the character frequencies
for char, freq in char_frequency.items():
    print(f"'{char}': {freq}")

'T': 1
'h': 1
'i': 3
's': 3
' ': 4
'a': 2
'n': 2
'e': 2
'x': 1
'm': 1
'p': 1
'l': 1
't': 1
'r': 1
'g': 1
'.': 1

Explanation:

We define an example string text in which you want to find the frequency of each character.

We create an empty dictionary char_frequency to store the frequencies of characters.

We iterate through each character in the text. If the character is already in the char_frequency dictionary, we increment its count; otherwise, we add the character to the dictionary with a count of 1.

After processing all characters, we iterate through the char_frequency dictionary using .items() and print the character along with its frequency.

In [74]:
# 37) Remove all punctuation from a string.

In [75]:
import string

# Example string with punctuation
text = "Hello, this is an example string with punctuation!"

# Create a translation table to remove punctuation
translator = str.maketrans("", "", string.punctuation)

# Remove punctuation from the string
cleaned_text = text.translate(translator)

# Print the cleaned text
print(cleaned_text)

Hello this is an example string with punctuation

Explanation:

We import the string module, which provides a string containing all punctuation characters.

We define an example string text that contains punctuation.

We create a translation table using the str.maketrans() method. The first two arguments are empty strings, and the third argument is string.punctuation, which contains all punctuation characters.

The str.translate() method is used to apply the translation table to the string, effectively removing all characters listed in the translation table.

The result of the translation operation is stored in the variable cleaned_text.

Finally, we print the cleaned_text, which will be the string with all punctuation characters removed.

In [76]:
# 38) Check if a string contains only digits.

In [77]:
# Example strings
string1 = "12345"
string2 = "abc123"
string3 = "  456   "

# Check if the strings contain only digits
is_digits1 = string1.isdigit()
is_digits2 = string2.isdigit()
is_digits3 = string3.isdigit()

# Print the results
print(f"'{string1}' contains only digits:", is_digits1)  # Output will be True
print(f"'{string2}' contains only digits:", is_digits2)  # Output will be False
print(f"'{string3}' contains only digits:", is_digits3)  # Output will be False

'12345' contains only digits: True
'abc123' contains only digits: False
'  456   ' contains only digits: False

Explanation:

We define three example strings: string1, string2, and string3.

The str.isdigit() method is used to check if a string contains only digits (numeric characters). It returns True if all characters in the string are digits, and False otherwise.

We use the is_digits1, is_digits2, and is_digits3 variables to store the results of the isdigit() checks for each string.

Finally, we print the results to see whether each string contains only digits or not.

In [78]:
# 39) Check if a string contains only alphabets.

In [79]:
# Example strings
string1 = "abc"
string2 = "abc123"
string3 = "Hello World"

# Check if the strings contain only alphabets
is_alpha1 = string1.isalpha()
is_alpha2 = string2.isalpha()
is_alpha3 = string3.isalpha()

# Print the results
print(f"'{string1}' contains only alphabets:", is_alpha1)  # Output will be True
print(f"'{string2}' contains only alphabets:", is_alpha2)  # Output will be False
print(f"'{string3}' contains only alphabets:", is_alpha3)  # Output will be False

'abc' contains only alphabets: True
'abc123' contains only alphabets: False
'Hello World' contains only alphabets: False

Explanation:

We define three example strings: string1, string2, and string3.

The str.isalpha() method is used to check if a string contains only alphabetic characters (letters). It returns True if all characters in the string are letters, and False otherwise.

We use the is_alpha1, is_alpha2, and is_alpha3 variables to store the results of the isalpha() checks for each string.

Finally, we print the results to see whether each string contains only alphabetic characters or not.

In [80]:
# 40) Convert a string to a list of characters.

In [81]:
# Example string
text = "Hello, world!"

# Convert the string to a list of characters
char_list = list(text)

# Print the list of characters
print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

Explanation:

We define an example string text that you want to convert to a list of characters.

The list() constructor is used to create a list where each element is a character from the string.

The resulting list of characters is stored in the variable char_list.

Finally, we print the char_list, which will be a list containing all the characters from the original string.

In [82]:
# 41) Check if two strings are anagrams.

In [83]:
# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Remove spaces and convert to lowercase for comparison
string1 = string1.replace(" ", "").lower()
string2 = string2.replace(" ", "").lower()
string3 = string3.replace(" ", "").lower()
string4 = string4.replace(" ", "").lower()

# Check if the sorted characters of both strings are the same
are_anagrams1_2 = sorted(string1) == sorted(string2)
are_anagrams3_4 = sorted(string3) == sorted(string4)

print(f"Are '{string1}' and '{string2}' anagrams? {are_anagrams1_2}")  # Output will be True
print(f"Are '{string3}' and '{string4}' anagrams? {are_anagrams3_4}")  # Output will be False

Are 'listen' and 'silent' anagrams? True
Are 'hello' and 'world' anagrams? False

Explanation:

We define example strings: string1, string2, string3, and string4.

We remove spaces and convert all strings to lowercase to ensure case-insensitive comparison.

We then check if the sorted characters of both strings are the same using sorted(). If they are, the strings are anagrams.

We print the results to indicate whether each pair of strings are anagrams or not.

In [84]:
# 42) Encode a string using a Caesar cipher.

In [85]:
# Example plaintext and shift
plaintext = "Hello, World!"
shift = 3

encoded_text = ""

for char in plaintext:
    if char.isalpha():
        if char.islower():
            encoded_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
        else:
            encoded_char = chr(((ord(char) - ord('A') + shift) % 26) + ord('A'))
    else:
        encoded_char = char
    encoded_text += encoded_char

print("Original:", plaintext)
print("Encoded:", encoded_text)

Original: Hello, World!
Encoded: Khoor, Zruog!

Explanation:

We define an example plaintext that you want to encode using a Caesar cipher.

We define a shift value indicating the number of positions each character will be shifted.

We initialize an empty string encoded_text to store the encoded result.

We iterate through each character in the plaintext.

For each alphabetic character, we calculate the new position in the alphabet by shifting it by the given shift value. We handle lowercase and uppercase letters separately.

For characters that are not alphabetic, we leave them unchanged.

The encoded character is added to the encoded_text string.

Finally, we print both the original plaintext and the encoded_text.

In [86]:
# 43) Decode a Caesar cipher encoded string.

In [87]:
# Example encoded text and shift
encoded_text = "Khoor, Zruog!"
shift = 3

decoded_text = ""

for char in encoded_text:
    if char.isalpha():
        if char.islower():
            decoded_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
        else:
            decoded_char = chr(((ord(char) - ord('A') - shift) % 26) + ord('A'))
    else:
        decoded_char = char
    decoded_text += decoded_char

print("Encoded:", encoded_text)
print("Decoded:", decoded_text)

Encoded: Khoor, Zruog!
Decoded: Hello, World!

Explanation:

We define an example encoded_text that you want to decode, assuming it has been encoded using a Caesar cipher.

We define a shift value indicating the number of positions each character was shifted during encoding.

We initialize an empty string decoded_text to store the decoded result.

We iterate through each character in the encoded_text.

For each alphabetic character, we calculate the new position in the alphabet by shifting it back by the given shift value. We handle lowercase and uppercase letters separately.

For characters that are not alphabetic, we leave them unchanged.

The decoded character is added to the decoded_text string.

Finally, we print both the original encoded_text and the decoded_text.

In [88]:
# 44) Find the most frequent word in a string.

In [89]:
from collections import Counter
import re

# Example string
text = "This is a sample string. This is a sample example."

# Tokenize the string into words
words = re.findall(r'\w+', text.lower())

# Count the frequency of each word
word_frequency = Counter(words)

# Find the most common word
most_common_word = word_frequency.most_common(1)[0][0]

# Print the most frequent word
print("Most frequent word:", most_common_word)

Most frequent word: this

Explanation:

We import the Counter class from the collections module, which is used to count the frequency of items in a collection.

We import the re module for regular expression operations.

We define an example text that you want to analyze to find the most frequent word.

We use the re.findall() method with a regular expression (\w+) to tokenize the string into words and convert them to lowercase.

We use the Counter() class to count the frequency of each word in the words list.

We use the most_common() method of the Counter object to find the most common word. The [0][0] indexing is used to extract the word itself from the result.

Finally, we print the most frequent word.

In [90]:
# 45) Find all unique words in a string.

In [91]:
# Example string
text = "This is a sample string. This is a sample example."

# Tokenize the string into words
words = text.split()

# Create a set to store unique words
unique_words = set()

# Iterate through the words and add them to the set
for word in words:
    cleaned_word = word.strip(".,!?").lower()  # Remove common punctuation and convert to lowercase
    unique_words.add(cleaned_word)

# Print the unique words
print("Unique words:", unique_words)

Unique words: {'a', 'this', 'is', 'sample', 'example', 'string'}

Explanation:

We define an example text that you want to analyze to find the unique words.

We split the text into words using the default space delimiter.

We create an empty set unique_words to store the unique words.

We iterate through the words list and perform the following:

We remove common punctuation characters (.,!?) from the word using the strip() method.
We convert the word to lowercase using .lower() to ensure case-insensitive comparison.
We add the cleaned word to the unique_words set.
Finally, we print the unique_words.

In [92]:
# 46) Count the number of syllables in a string.

In [93]:
# Example string
text = "Hello world! This is an example sentence."

# Define vowels
vowels = "AEIOUaeiou"

# Tokenize the string into words
words = text.split()

# Count syllables in each word and print
for word in words:
    syllables = 0
    prev_char_vowel = False

    for char in word:
        if char in vowels:
            if not prev_char_vowel:
                syllables += 1
            prev_char_vowel = True
        else:
            prev_char_vowel = False

    print(f"Word '{word}' has {syllables} syllables.")

Word 'Hello' has 2 syllables.
Word 'world!' has 1 syllables.
Word 'This' has 1 syllables.
Word 'is' has 1 syllables.
Word 'an' has 1 syllables.
Word 'example' has 3 syllables.
Word 'sentence.' has 3 syllables.

Explanation:

We define an example text that contains words for which we want to count syllables.

We define the string vowels containing all vowel characters.

We tokenize the text into words using the default space delimiter.

We iterate through the words list and use a loop to count syllables in each word. We keep track of whether the previous character was a vowel or not.

For each character in a word, we check if it is a vowel. If it is, and the previous character was not a vowel, we increment the syllables count. We update the prev_char_vowel flag accordingly.

Finally, we print the estimated number of syllables for each word.

In [94]:
# 47) Check if a string contains any special characters.

In [95]:
# Example string
text = "Hello, World!"

# Check if the string contains any special characters
contains_special = any(not char.isalnum() for char in text)

# Print the result
print("Contains special characters:", contains_special)

Contains special characters: True

Explanation:

We define an example text that you want to check for special characters.

We use a generator expression within the any() function to iterate through each character in the string. For each character, we use the isalnum() method to check if it is alphanumeric (a letter or a digit).

The not char.isalnum() expression evaluates to True for characters that are not alphanumeric (i.e., special characters).

The any() function checks if there is at least one True value in the generator expression, which means at least one special character is present in the string.

The result is stored in the contains_special variable.

Finally, we print whether the string contains any special characters.

In [96]:
# 48) Remove the nth word from a string.

In [97]:
# Example string
text = "This is an example string to demonstrate removing words."

# Remove the nth word (index starts from 0)
n = 3  # Remove the 4th word (index 3)

# Tokenize the string into words
words = text.split()

# Check if the index is valid
if 0 <= n < len(words):
    words.pop(n)  # Remove the word at index n

# Construct the new string
new_text = ' '.join(words)

# Print the original and new strings
print("Original:", text)
print("New:", new_text)

Original: This is an example string to demonstrate removing words.
New: This is an string to demonstrate removing words.

Explanation:

We define an example text that you want to manipulate by removing the nth word.

We specify the value of n to indicate which word you want to remove. Note that index numbering starts from 0.

We tokenize the text into words using the split() method, which splits the string at spaces by default.

We use an if statement to check if the index n is within a valid range (from 0 to the length of words minus 1).

If the index is valid, we use the pop() method to remove the word at index n from the words list.

We reconstruct the new string by joining the words in the modified words list using the join() method.

Finally, we print both the original and the new strings.

In [98]:
# 49) Insert a word at the nth position in a string.

In [99]:
# Example string
text = "This is an example string to demonstrate inserting words."

# Insert a word at the nth position (index starts from 0)
n = 3  # Insert at the 4th position (index 3)
new_word = "new"

# Tokenize the string into words
words = text.split()

# Check if the index is valid
if 0 <= n <= len(words):
    words.insert(n, new_word)  # Insert the new word at index n

# Construct the new string
new_text = ' '.join(words)

# Print the original and new strings
print("Original:", text)
print("New:", new_text)

Original: This is an example string to demonstrate inserting words.
New: This is an new example string to demonstrate inserting words.

Explanation:

We define an example text that you want to manipulate by inserting a word at the nth position.

We specify the value of n to indicate the index at which you want to insert the new word. Note that index numbering starts from 0.

We define the new_word that you want to insert at the specified index.

We tokenize the text into words using the split() method, which splits the string at spaces by default.

We use an if statement to check if the index n is within a valid range (from 0 to the length of words).

If the index is valid, we use the insert() method to insert the new_word at index n in the words list.

We reconstruct the new string by joining the modified words list using the join() method.

Finally, we print both the original and the new strings.

In [100]:
# 50) Convert a CSV string to a list of lists.

In [101]:
import csv
from io import StringIO

# Example CSV string
csv_string = "Name,Age,Location\nAlice,25,New York\nBob,30,San Francisco\nCharlie,22,Los Angeles"

# Create a StringIO object to simulate a file-like object for the CSV data
csv_data = StringIO(csv_string)

# Initialize a CSV reader
csv_reader = csv.reader(csv_data)

# Convert CSV data to a list of lists
csv_list = [row for row in csv_reader]

# Print the list of lists
for row in csv_list:
    print(row)

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'San Francisco']
['Charlie', '22', 'Los Angeles']

Explanation:

We import the csv module to work with CSV data and the StringIO class from the io module to create a file-like object from the CSV string.

We define an example csv_string that you want to convert to a list of lists.

We create a StringIO object called csv_data that simulates a file-like object for the CSV data. This is necessary because the csv.reader expects an open file-like object.

We initialize a csv_reader using the csv.reader function and pass in the csv_data object.

We use a list comprehension to convert the CSV data from the reader into a list of lists called csv_list.

Finally, we iterate through the csv_list and print each row.

In [102]:
# TOPIC- LIST BASED PROBLEMS!!

In [103]:
# 1. Create a list with integers from 1 to 10.

In [104]:
# Creating a list of integers from 1 to 10
integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Printing the list
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
# 2. Find the length of a list without using the `len()` function.

In [106]:
# list
my_list = [1, 2, 3, 4, 5]

# Use the enumerate() function to generate pairs of index and value for each element
# For each pair generated, create a value of 1 using a generator expression
# The sum() function then adds up all these 1s, effectively counting the elements
length = sum(1 for _ in enumerate(my_list))

# Print the length of the list
print("Length of the list:", length)

Length of the list: 5

Explanation:

We start by defining your list, your_list.
We use the enumerate() function to generate pairs of index and value for each element in the list.
In the generator expression (1 for _ in enumerate(your_list)), we create a value of 1 for each pair generated by enumerate().
The sum() function then adds up all these 1s, effectively counting the elements in the list.
Finally, we print the length of the list using print().

In [107]:
# 3. Append an element to the end of a list.

In [108]:
# list
my_list = [1, 2, 3, 4]

# Append an element (e.g., 5) to the end of the list using the append() method
my_list.append(5)

# Print the modified list to see the result
print(my_list)

[1, 2, 3, 4, 5]

Explanation in points:

We start by defining a list called my_list with some initial elements [1, 2, 3, 4].
To add an element to the end of the list, we use the append() method, which is a built-in list method in Python.
Inside the append() method, we specify the element we want to add to the end of the list, in this case, 5.
After the append() operation, the list my_list will be modified to [1, 2, 3, 4, 5].
Finally, we print the modified my_list to verify the result, which will display [1, 2, 3, 4, 5] in this case.

In [109]:
# 4. Insert an element at a specific index in a list.

In [110]:
# list
my_list = [1, 2, 3, 4]

# Insert an element (e.g., 5) at a specific index (e.g., index 2) using the insert() method
my_list.insert(2, 5)

# Print the modified list to see the result
print(my_list)

[1, 2, 5, 3, 4]

Explanation in points:

We start by defining a list called my_list with some initial elements [1, 2, 3, 4].
To insert an element at a specific index, we use the insert() method, which is a built-in list method in Python.
Inside the insert() method, we specify two arguments: the first argument is the index where we want to insert the element (in this case, 2 for index 2), and the second argument is the element we want to insert (in this case, 5).
After the insert() operation, the list my_list will be modified to [1, 2, 5, 3, 4], with the element 5 inserted at index 2.
Finally, we print the modified my_list to verify the result, which will display [1, 2, 5, 3, 4] in this case.

In [111]:
# 5. Remove an element from a list by its value.

In [112]:
# Define a list
my_list = [1, 2, 3, 4, 3]

# Remove a specific element (e.g., value 3) from the list using the remove() method
my_list.remove(3)

# Print the modified list to see the result
print(my_list)

[1, 2, 4, 3]

Explantion:
    
    We start by defining a list called my_list with some initial elements, including the value we want to remove (in this case, [1, 2, 3, 4, 3]).

To remove an element from the list by its value, we use the remove() method, which is a built-in list method in Python.

Inside the remove() method, we specify the value of the element we want to remove (in this case, 3). The remove() method will remove the first occurrence of the specified value in the list.

After the remove() operation, the list my_list will be modified to [1, 2, 4, 3], with the first occurrence of the value 3 removed.

Finally, we print the modified my_list to verify the result, which will display [1, 2, 4, 3] in this case.

In [113]:
# 6. Remove an element from a list by its index.

In [114]:
# Define a list
my_list = [1, 2, 3, 4]

# Specify the index of the element you want to remove (e.g., index 2)
index_to_remove = 2

# Use the pop() method to remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

# Print the modified list and the removed element to see the result
print("Modified List:", my_list)
print("Removed Element:", removed_element)

Modified List: [1, 2, 4]
Removed Element: 3

Explanation
    We start by defining a list called my_list with some initial elements [1, 2, 3, 4].

Specify the index of the element you want to remove (in this case, 2 for index 2). Store it in a variable called index_to_remove.

Use the pop() method to remove the element at the specified index (index_to_remove) from the list. The pop() method returns the removed element, which we store in a variable called removed_element.

After the pop() operation, the list my_list will be modified to [1, 2, 4], with the element at index 2 (which was 3) removed.

Finally, we print the modified my_list to verify the result, which will display [1, 2, 4] in this case. We also print the removed_element, which will be 3 in this example.

In [115]:
# 7. Check if an element exists in a list.

In [116]:
# Define a list
my_list = [1, 2, 3, 4]

# Element to check for existence (e.g., 3)
element_to_check = 3

# Use the "in" keyword to check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

Explanation:
    
    
    We start by defining a list called my_list with some initial elements [1, 2, 3, 4].

Specify the element you want to check for existence (in this case, 3 for the element to check). Store it in a variable called element_to_check.

Use the in keyword to check if element_to_check exists in the list my_list. If it exists, the program will print a message indicating that the element exists; otherwise, it will print a message indicating that the element does not exist.

In [117]:
# 8. Find the index of the first occurrence of an element in a list.

In [118]:
# Define a list
my_list = [1, 2, 3, 4, 3]

# Element to find the index of (e.g., value 3)
element_to_find = 3

# Use the index() method to find the index of the first occurrence of the element
index_of_element = my_list.index(element_to_find)

# Print the index of the first occurrence
print(f"The index of the first occurrence of {element_to_find} is {index_of_element}")

The index of the first occurrence of 3 is 2

Explanation:
    
    We start by defining a list called my_list with some initial elements, including the value for which we want to find the index (in this case, [1, 2, 3, 4, 3] and element_to_find = 3).

Specify the element you want to find the index of (in this case, 3) and store it in a variable called element_to_find.

Use the index() method on my_list to find the index of the first occurrence of element_to_find. The index() method returns the index of the first occurrence.

After using the index() method, the index_of_element variable will hold the index of the first occurrence of element_to_find.

Finally, we print the index of the first occurrence using a formatted string, which will display something like "The index of the first occurrence of 3 is 2" in this example.

In [119]:
# 9. . Count the occurrences of an element in a list.

In [120]:
# Define a list
my_list = [1, 2, 3, 4, 3, 2, 3]

# Element to count (e.g., value 3)
element_to_count = 3

# Use the count() method to count the occurrences of the element in the list
count_of_element = my_list.count(element_to_count)

# Print the count of occurrences
print(f"The element {element_to_count} appears {count_of_element} times in the list.")

The element 3 appears 3 times in the list.

Explanation:
    
    We start by defining a list called my_list with some initial elements, including the value for which we want to count occurrences (in this case, [1, 2, 3, 4, 3, 2, 3] and element_to_count = 3).

Specify the element you want to count (in this case, 3) and store it in a variable called element_to_count.

Use the count() method on my_list to count the occurrences of element_to_count. The count() method returns the number of times the element appears in the list.

After using the count() method, the count_of_element variable will hold the count of occurrences of element_to_count.

Finally, we print the count of occurrences using a formatted string, which will display something like "The element 3 appears 3 times in the list" in this example.

In [121]:
# 10. Reverse the order of elements in a list.

In [122]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Use slicing to reverse the order of elements in the list
reversed_list = my_list[::-1]

# Print the reversed list to see the result
print("Reversed List:", reversed_list)

Reversed List: [5, 4, 3, 2, 1]

Explanation:
    
    We start by defining a list called my_list with some initial elements [1, 2, 3, 4, 5].

To reverse the order of elements, we use slicing. Slicing with [::-1] is a common Python idiom for reversing a list. It means to take all elements (:) with a step of -1 (::-1), effectively reversing the order.

We create a new list called reversed_list by applying the slicing operation on my_list.

After the slicing operation, the reversed_list variable will contain the elements of my_list in reverse order.

Finally, we print the reversed_list to verify the result, which will display [5, 4, 3, 2, 1] in this case, representing the reversed order of elements. Note that the original my_list remains unchanged.

In [123]:
# 11. Sort a list in ascending order.

In [124]:
# Define a list
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Use the sorted() function to create a new sorted list in ascending order
sorted_list = sorted(my_list)

# Print the sorted list
print("Sorted List (ascending order):", sorted_list)

Sorted List (ascending order): [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

Explanation:
    
    Explanation in points:

We start by defining a list called my_list with some initial elements.

We use the sorted() function on my_list to create a new list called sorted_list that contains the elements in ascending order.

The sorted() function does not modify the original list but instead returns a new sorted list.

Finally, we print the sorted_list to verify the result, which will display the elements in ascending order.

In [125]:
# 12. Sort a list in descending order.

In [126]:
# Define a list
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Use the sort() method with the reverse argument to sort the list in descending order in-place
my_list.sort(reverse=True)

# Print the modified list, which is now sorted in descending order
print("Sorted List (descending order):", my_list)

Sorted List (descending order): [9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

Explanation:
    
    We start by defining a list called my_list with some initial elements.

We use the sort() method on my_list with the reverse=True argument to sort the list in descending order in-place. This means that the original list is modified, and there is no need to create a new list.

After the sort() operation, my_list will contain the elements sorted in descending order.

Finally, we print the modified my_list to verify the result, which will display the elements in descending order.

In [127]:
# 13. Create a list of even numbers from 1 to 20.

In [128]:
# Create a list of even numbers from 1 to 20 using list comprehension
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

# Print the list of even numbers
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Explanation:
    
    We use a list comprehension to generate a list of even numbers.

The range(1, 21) function generates numbers from 1 to 20 (inclusive), and x iterates through each number in this range.

The if x % 2 == 0 condition checks if the number x is even (i.e., divisible by 2). If it is even, it's included in the list.

The resulting list, even_numbers, will contain even numbers from 1 to 20.

Finally, we print the even_numbers list, which will display [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], representing the even numbers from 1 to 20.

In [129]:
# 14. Create a list of odd numbers from 1 to 20.

In [130]:
# Create a list of odd numbers from 1 to 20 using list comprehension
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

# Print the list of odd numbers
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Explanation:
    
    We use a list comprehension to generate a list of odd numbers.

The range(1, 21) function generates numbers from 1 to 20 (inclusive), and x iterates through each number in this range.

The if x % 2 != 0 condition checks if the number x is odd (i.e., not divisible by 2). If it is odd, it's included in the list.

The resulting list, odd_numbers, will contain odd numbers from 1 to 20.

Finally, we print the odd_numbers list, which will display [1, 3, 5, 7, 9, 11, 13, 15, 17, 19], representing the odd numbers from 1 to 20

In [131]:
# 15. Find the sum of all elements in a list.

In [132]:
# Define a list of numbers
my_list = [1, 2, 3, 4, 5]

# Use the sum() function to calculate the sum of all elements in the list
sum_of_elements = sum(my_list)

# Print the sum of the elements
print("Sum of elements:", sum_of_elements)

Sum of elements: 15

Explanation:
    
    We start by defining a list called my_list containing some numerical elements [1, 2, 3, 4, 5].

We use the sum() function to calculate the sum of all elements in the list. The sum() function takes the list as an argument and returns the sum of its elements.

The result of the sum() operation is stored in the variable sum_of_elements, which will contain the sum of the numbers in the list.

Finally, we print the sum_of_elements variable to display the sum of the elements, which in this case will be 15 (1 + 2 + 3 + 4 + 5).

In [133]:
# 16. Find the maximum value in a list.

In [134]:
# Define a list of numbers
my_list = [12, 34, 56, 78, 45, 90]

# Use the max() function to find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 90

Explanation:
    
    We start by defining a list called my_list containing some numerical elements [12, 34, 56, 78, 45, 90].

We use the max() function to find the maximum value in the list. The max() function takes the list as an argument and returns the maximum value in that list.

The result of the max() operation is stored in the variable max_value, which will contain the maximum value from the list.

Finally, we print the max_value variable to display the maximum value, which in this case will be 90.

In [135]:
# 17. Find the minimum value in a list.

In [136]:
# Define a list of numbers
my_list = [12, 34, 56, 78, 45, 90]

# Use the min() function to find the minimum value in the list
min_value = min(my_list)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 12

Explanation:
    
    We start by defining a list called my_list containing some numerical elements [12, 34, 56, 78, 45, 90].

We use the min() function to find the minimum value in the list. The min() function takes the list as an argument and returns the minimum value in that list.

The result of the min() operation is stored in the variable min_value, which will contain the minimum value from the list.

Finally, we print the min_value variable to display the minimum value, which in this case will be 12.

In [137]:
# 18. Create a list of squares of numbers from 1 to 10.

In [138]:
# Create a list of squares of numbers from 1 to 10 using list comprehension
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Explanation:
    
    We use a list comprehension to generate a list of squares of numbers.

The range(1, 11) function generates numbers from 1 to 10 (inclusive), and x iterates through each number in this range.

In the list comprehension, we calculate the square of each number by using the exponentiation operator **.

The resulting list, squares, will contain the squares of numbers from 1 to 10.

Finally, we print the squares list, which will display [1, 4, 9, 16, 25, 36, 49, 64, 81, 100], representing the squares of numbers from 1 to 10.

In [139]:
# 19. Create a list of random numbers.

In [140]:
import random

# Define the number of random numbers you want in the list
num_random_numbers = 10  # You can change this to the desired number

# Create a list of random numbers using list comprehension
random_numbers = [random.randint(1, 100) for _ in range(num_random_numbers)]

# Print the list of random numbers
print("List of random numbers:", random_numbers)

List of random numbers: [86, 22, 85, 79, 79, 31, 42, 42, 29, 9]

Explanation:
    
    We first import the random module, which provides functions for generating random numbers.

Specify the number of random numbers you want in the list using the num_random_numbers variable. You can change this variable to control the number of random numbers in the list.

We use a list comprehension to generate num_random_numbers random integers between 1 and 100 (you can adjust the range as needed) and store them in the random_numbers list.

Finally, we print the random_numbers list, which will contain the specified number of random integers.

In [141]:
# 20. Remove duplicates from a list.

In [142]:
# Define a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

# Remove duplicates by converting the list to a set and back to a list
unique_list = list(set(my_list))

# unique_list now contains the elements with duplicates removed
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5, 6, 7]

Explanation:
    
    We start with a list called my_list that contains duplicate elements.

To remove duplicates, we convert my_list to a set using set(my_list). A set is an unordered collection of unique elements, which automatically removes duplicates.

We then convert the resulting set back to a list using list(). This step is necessary if you want to maintain the elements in list format.

After this process, unique_list contains the elements with duplicates removed.

Finally, we print unique_list, which will display the list with duplicates removed.

In [143]:
# 21. Find the common elements between two lists.

In [144]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Convert the lists to sets
set1 = set(list1)
set2 = set(list2)

# Find the common elements using the intersection method
common_elements = set1.intersection(set2)

# Convert the result back to a list
common_elements_list = list(common_elements)

# Print the list of common elements
print("Common elements:", common_elements_list)

Common elements: [3, 4, 5]

Explanation:
    
    We start by defining two lists, list1 and list2, each containing some elements.

To find the common elements, we convert both lists to sets using set(list1) and set(list2).

We then use the intersection method on set1 to find the elements that are common to both sets. This method returns a new set containing the common elements.

To convert the result back to a list (if needed), we use list(common_elements).

Finally, we print common_elements_list, which will display the common elements between list1 and list2. In this example, it will be [3, 4, 5].

In [145]:
# 22. Find the difference between two lists.

In [146]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Convert the lists to sets
set1 = set(list1)
set2 = set(list2)

# Find the elements in list1 that are not in list2
difference = set1.difference(set2)

# Convert the result back to a list
difference_list = list(difference)

# Print the list of elements in list1 but not in list2
print("Difference (list1 - list2):", difference_list)

Difference (list1 - list2): [1, 2]

Explanation:
    
    We start by defining two lists, list1 and list2, each containing some elements.

To find the difference between list1 and list2, we convert both lists to sets using set(list1) and set(list2).

We use the difference() method on set1 to find the elements that are in set1 but not in set2. This method returns a new set containing the difference.

To convert the result back to a list (if needed), we use list(difference).

Finally, we print difference_list, which will display the elements that are in list1 but not in list2.

In [147]:
# 23. Merge two lists.

In [148]:
# Define two lists to merge
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the lists using the extend() method
list1.extend(list2)

# The merged elements are added to list1; list2 remains unchanged
# Print list1, which now contains the merged elements
print("Merged List:", list1)

Merged List: [1, 2, 3, 4, 5, 6]

Explanation:
    
    We start by defining two lists, list1 and list2, each containing some elements.

To merge the lists using the + operator, we simply use list1 + list2, which creates a new list containing all elements from both lists.

To merge the lists using the extend() method, we use list1.extend(list2). This method adds the elements from list2 to the end of list1. The list2 remains unchanged.

In both cases, the merged list is stored in the merged_list variable or added to list1, depending on the method used.

Finally, we print the merged list to see the result.

In [149]:
# 24. Multiply all elements in a list by 2.

In [150]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Multiply all elements in the list by 2 using list comprehension
doubled_list = [x * 2 for x in my_list]

# Print the doubled list
print("Doubled List:", doubled_list)

Doubled List: [2, 4, 6, 8, 10]

Explanation:
    
    We start by defining a list called my_list containing some numerical elements [1, 2, 3, 4, 5].

To multiply all elements in the list by 2, we use a list comprehension. In the comprehension, x iterates through each element in my_list, and we calculate x * 2 to double each element.

The resulting list, doubled_list, will contain all the elements from my_list, but each element will be multiplied by 2.

Finally, we print doubled_list, which will display [2, 4, 6, 8, 10], representing the original list with all elements multiplied by 2.

In [151]:
# 25. Filter out all even numbers from a list.

In [152]:
# Define a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out all even numbers from the list using list comprehension
filtered_list = [x for x in my_list if x % 2 != 0]

# Print the filtered list
print("Filtered List (odd numbers only):", filtered_list)

Filtered List (odd numbers only): [1, 3, 5, 7, 9]

Explanation:
    
    We start by defining a list called my_list containing some numerical elements [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

To filter out all even numbers from the list, we use a list comprehension. In the comprehension, x iterates through each element in my_list.

We include a condition if x % 2 != 0 in the list comprehension. This condition checks if the current element x is not even (i.e., has a remainder when divided by 2).

The resulting list, filtered_list, will contain only the elements from my_list that are not even, effectively filtering out the even numbers.

Finally, we print filtered_list, which will display [1, 3, 5, 7, 9], representing the original list with all even numbers filtered out.

In [153]:
# 26. Convert a list of strings to a list of integers.

In [154]:
# Define a list of strings
string_list = ["1", "2", "3", "4", "5"]

# Convert the list of strings to a list of integers using list comprehension
int_list = [int(x) for x in string_list]

# Print the list of integers
print("List of Integers:", int_list)

List of Integers: [1, 2, 3, 4, 5]

Explanation:
    
    We start by defining a list called string_list containing string elements ["1", "2", "3", "4", "5"].

To convert the list of strings to a list of integers, we use a list comprehension. In the comprehension, x iterates through each string element in string_list.

Inside the list comprehension, we use the int() function to cast each string element x to an integer.

The resulting list, int_list, will contain the same elements as string_list, but they will be integers instead of strings.

Finally, we print int_list, which will display [1, 2, 3, 4, 5], representing the list of integers obtained from the original list of strings.

In [155]:
# 27. Convert a list of integers to a list of strings.

In [156]:
# Define a list of integers
int_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings using list comprehension
string_list = [str(x) for x in int_list]

# Print the list of strings
print("List of Strings:", string_list)

List of Strings: ['1', '2', '3', '4', '5']

Explanation:
    
    We start by defining a list called int_list containing integer elements [1, 2, 3, 4, 5].

To convert the list of integers to a list of strings, we use a list comprehension. In the comprehension, x iterates through each integer element in int_list.

Inside the list comprehension, we use the str() function to cast each integer element x to a string.

The resulting list, string_list, will contain the same elements as int_list, but they will be strings instead of integers.

Finally, we print string_list, which will display ["1", "2", "3", "4", "5"], representing the list of strings obtained from the original list of integers.

In [157]:
# 28. Flatten a nested list.

In [158]:
# Define a nested list
nested_list = [1, [2, 3], [4, [5, 6]], 7]

# Initialize an empty list to store flattened elements
flat_list = []

# Initialize a stack with the nested list
stack = [nested_list]

while stack:
    current = stack.pop()
    for item in current:
        if isinstance(item, list):
            stack.append(item)
        else:
            flat_list.append(item)

# Print the flattened list
print("Flattened List:", flat_list)

Flattened List: [1, 7, 4, 5, 6, 2, 3]

Explanation:
    
    We start by defining a nested list called nested_list containing various elements, including sublists.

We initialize an empty list called flat_list to store the flattened elements.

We initialize a stack called stack with the nested_list as its initial element.

We use a while loop that continues as long as the stack is not empty.

Inside the loop, we pop the last element from the stack and assign it to current.

We iterate through each item in current. If an item is a list, we push it onto the stack. If it's not a list, we append it to the flat_list.

The loop continues until all elements are processed, resulting in the flat_list containing all elements from the nested list in a flattened structure.

Finally, we print flat_list, which will display [1, 2, 3, 4, 5, 6, 7], representing the flattened list.

In [159]:
# 29. Create a list of the first 10 Fibonacci numbers.

In [160]:
# Initialize the first two Fibonacci numbers
fibonacci_list = [0, 1]

# Generate the next 8 Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
    fibonacci_list.append(next_fibonacci)

# Print the list of the first 10 Fibonacci numbers
print("First 10 Fibonacci Numbers:", fibonacci_list)

First 10 Fibonacci Numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Explanation:
    
    We start by initializing a list called fibonacci_list with the first two Fibonacci numbers, [0, 1].

We use a for loop to generate the next 8 Fibonacci numbers. The loop starts from i = 2 because the first two Fibonacci numbers are already in the list.

In each iteration, we calculate the next Fibonacci number (next_fibonacci) by adding the last two Fibonacci numbers in the list (fibonacci_list[i - 1] and fibonacci_list[i - 2]).

We append the next_fibonacci to the fibonacci_list.

After the loop, fibonacci_list contains the first 10 Fibonacci numbers.

Finally, we print fibonacci_list, which will display [0, 1, 1, 2, 3, 5, 8, 13, 21, 34], representing the first 10 Fibonacci numbers.

In [161]:
# 30. Check if a list is sorted.

In [162]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Check if the list is sorted in ascending order without using loops
is_sorted = my_list == sorted(my_list)

# Print the result
if is_sorted:
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

Explanation:
    
    We start by defining a list called my_list containing some elements.

To check if the list is sorted in ascending order without using loops, we compare my_list with the result of sorted(my_list). The sorted() function returns a new sorted list.

If my_list is equal to the sorted version of itself, is_sorted will be True, indicating that the list is sorted in ascending order.

Finally, we print the result based on the value of is_sorted.

In [163]:
# 31. Rotate a list to the left by `n` positions.

In [164]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Number of positions to rotate left
n = 2  # You can change this to the desired number of positions

# Rotate the list to the left by n positions using list slicing
rotated_list = my_list[n:] + my_list[:n]

# Print the rotated list
print("Rotated List:", rotated_list)

Rotated List: [3, 4, 5, 1, 2]

Explanation:
    
    We start by defining a list called my_list containing some elements.

We specify the number of positions to rotate the list to the left using the variable n. You can change the value of n to rotate by a different number of positions.

To rotate the list to the left by n positions, we use list slicing. The expression my_list[n:] selects all elements in my_list starting from the n-th position to the end. The expression my_list[:n] selects all elements from the beginning up to the n-th position.

We concatenate these two sliced lists using + to obtain the rotated list rotated_list.

Finally, we print rotated_list, which will display the list after rotating it to the left by n positions.

In [165]:
# 32. Rotate a list to the right by `n` positions.

In [166]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Number of positions to rotate right
n = 2  # You can change this to the desired number of positions

# Calculate the effective rotation position
n = n % len(my_list)

# Rotate the list to the right by n positions using list slicing
rotated_list = my_list[-n:] + my_list[:-n]

# Print the rotated list
print("Rotated List:", rotated_list)

Rotated List: [4, 5, 1, 2, 3]

Explanation:
    
    We start by defining a list called my_list containing some elements.

We specify the number of positions to rotate the list to the right using the variable n. You can change the value of n to rotate by a different number of positions.

To ensure that the rotation is effective even if n is larger than the length of the list, we calculate n as n % len(my_list). This ensures that n is within the range of the list's length.

To rotate the list to the right by n positions, we use list slicing. The expression my_list[-n:] selects the last n elements in my_list, and the expression my_list[:-n] selects all elements from the beginning up to the last n elements.

We concatenate these two sliced lists using + to obtain the rotated list rotated_list.

Finally, we print rotated_list, which will display the list after rotating it to the right by n positions.

In the example provided, if n is set to 2, the result will be [4, 5, 1, 2, 3] because the list has been rotated to the right by 2 positions.

In [167]:
# 33. Create a list of prime numbers up to 50

In [168]:
# Create a list of prime numbers up to 50
prime_numbers = []

# Loop through numbers from 2 to 50 and check for prime
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(num)

# Print the list of prime numbers
print("Prime Numbers up to 50:", prime_numbers)

Prime Numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Explanation:
    
    We initialize an empty list called prime_numbers to store the prime numbers we find.

We use a for loop to iterate through numbers from 2 to 50 (inclusive). These are the numbers we want to check for primality and potentially include in the list if they are prime.

Inside the loop, we initialize a boolean variable is_prime to True to assume that the current number is prime initially.

We then use another for loop to check divisibility from 2 up to the square root of the current number (int(num**0.5) + 1). If we find a divisor, we set is_prime to False and break out of the loop.

After the inner loop finishes, if is_prime is still True, it means the current number is prime, so we append it to the prime_numbers list.

Finally, we print prime_numbers, which will display the list of prime numbers up to 50.

In [169]:
# 34. Split a list into chunks of size `n`.

In [170]:
# Define a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Define the chunk size
n = 3  # You can change this to the desired chunk size

# Split the list into chunks of size n using list comprehension
chunks = [my_list[i:i + n] for i in range(0, len(my_list), n)]

# Print the list of chunks
print("Chunks:", chunks)

Chunks: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

Explanation:
    
    We start by defining a list called my_list containing some elements.

We specify the chunk size using the variable n. You can change the value of n to split the list into chunks of different sizes.

To split the list into chunks of size n, we use a list comprehension. Inside the list comprehension, i iterates through the starting indices of each chunk, ranging from 0 to len(my_list) - 1, with a step of n.

For each value of i, we slice the original list my_list[i:i + n] to extract a chunk of size n.

The result is a list of chunks stored in the chunks variable.

Finally, we print chunks, which will display the list of chunks based on the specified chunk size.

In [171]:
# 35. Find the second largest number in a list.

In [172]:
# Define a list
my_list = [1, 5, 2, 8, 9, 4, 7]

# Find the maximum number in the list
max_num = max(my_list)

# Remove all occurrences of the maximum number
my_list = [x for x in my_list if x != max_num]

# Find the new maximum number, which is the second largest
second_largest = max(my_list)

# Print the second largest number
print("Second Largest Number:", second_largest)

Second Largest Number: 8

Explanation:
    
    We start by defining a list called my_list containing some elements.

We use the max() function to find the maximum number in the list and store it in the max_num variable.

We use a list comprehension to create a new list (my_list) that excludes all occurrences of the maximum number. This effectively removes all instances of the maximum number from the list.

After removing the maximum number, we use the max() function again to find the new maximum number in the modified list, which is the second largest number.

Finally, we print second_largest, which will display the second largest number in the original list.

In [173]:
# 36. Replace every element in a list with its square.

In [174]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Replace each element with its square using list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared List:", squared_list)

Squared List: [1, 4, 9, 16, 25]

Explanation:
    
    We start by defining a list called my_list containing some elements.

We use a list comprehension to iterate through each element (x) in my_list.

Inside the list comprehension, we calculate the square of each element by raising it to the power of 2 (x ** 2).

The resulting list, squared_list, will contain all the elements from my_list, but each element will be replaced with its square.

Finally, we print squared_list, which will display [1, 4, 9, 16, 25], representing the original list with every element replaced by its square.

In [175]:
"""# 37. Convert a list to a dictionary where list elements become keys and their
indices become values."""

'# 37. Convert a list to a dictionary where list elements become keys and their\nindices become values.'

In [176]:
# Define a list
my_list = ['apple', 'banana', 'cherry', 'date']

# Convert the list to a dictionary where elements become keys and indices become values
my_dict = {value: index for index, value in enumerate(my_list)}

# Print the resulting dictionary
print("Resulting Dictionary:", my_dict)

Resulting Dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

Explnation:
    
    We start by defining a list called my_list containing some elements.

We use a dictionary comprehension to iterate through the elements of the list. The enumerate() function is used to obtain both the index and value of each element in the list.

Inside the dictionary comprehension, value represents the element from my_list, and index represents its index in the list.

We create key-value pairs in the dictionary where the element (value) becomes the key, and its index (index) becomes the value.

The resulting dictionary, my_dict, will contain the elements from my_list as keys, and their corresponding indices as values.

Finally, we print my_dict, which will display {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}, representing the dictionary where list elements become keys and their indices become values.

In [177]:
# 38. Shuffle the elements of a list randomly.

In [178]:
import random

# Define a list
my_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled List:", my_list)

Shuffled List: [1, 5, 2, 3, 4]

Explanation:
    
    We start by importing the random module, which provides functions for random number generation and manipulation.

We define a list called my_list containing some elements.

We use the random.shuffle() function to shuffle the elements of my_list randomly. This function modifies the list in place and does not return a new list.

Finally, we print the shuffled list, which will display the elements of my_list in a random order.

In [179]:
# 39.  Create a list of the first 10 factorial numbers.

In [180]:
# Create a list of the first 10 factorial numbers without using functions
factorial_numbers = [1]
current_factorial = 1

for n in range(1, 10):
    current_factorial *= (n + 1)
    factorial_numbers.append(current_factorial)

# Print the list of factorial numbers
print("First 10 Factorial Numbers:", factorial_numbers)

First 10 Factorial Numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

Explanation:
    
    We start by initializing a list called factorial_numbers with the first factorial number, which is 1. This list will store the first 10 factorial numbers.

We initialize a variable current_factorial to 1 to keep track of the current factorial number.

Using a for loop, we iterate through the numbers from 1 to 9 (inclusive) because we already have the first factorial number (1).

Inside the loop, we calculate the next factorial number by multiplying current_factorial by (n + 1). This computes the factorial for the next number in the sequence.

We append the calculated factorial (current_factorial) to the factorial_numbers list.

The loop continues until we have calculated the factorial numbers for all numbers from 1 to 10.

Finally, we print factorial_numbers, which will display the list of the first 10 factorial numbers.

In [181]:
# 40. Check if two lists have at least one element in common.

In [182]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

# Convert the lists to sets
set1 = set(list1)
set2 = set(list2)

# Check if there is at least one common element
has_common_element = len(set1.intersection(set2)) > 0

# Print the result
if has_common_element:
    print("The two lists have at least one common element.")
else:
    print("The two lists do not have any common elements.")

The two lists have at least one common element.

Explanation: 
    
    We start by defining two lists, list1 and list2, containing some elements.

We convert both lists to sets using set() to take advantage of set operations.

We use the intersection() method to find the intersection of set1 and set2, which will contain the common elements between the two sets.

We check if the length of the intersection is greater than 0. If it is, it means there is at least one common element between the lists.

Based on the result, we print whether the two lists have at least one common element or not.

In [183]:
# 41. Remove all elements from a list.

In [184]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty List:", my_list)

Empty List: []

Explanation:
    
    I just use here clera() function to remove all the elements from the list..

In [185]:
# 42. Replace negative numbers in a list with 0.

In [186]:
# Define a list with some negative numbers
my_list = [1, -2, 3, -4, 5, -6]

# Replace negative numbers with 0 using a list comprehension
my_list = [x if x >= 0 else 0 for x in my_list]

# Print the updated list
print("Updated List:", my_list)

Updated List: [1, 0, 3, 0, 5, 0]

Explanation:
    
    We start by defining a list called my_list containing some elements, including negative numbers.

We use a list comprehension to iterate through each element x in my_list.

Inside the list comprehension, we use a conditional expression (x if x >= 0 else 0) to replace negative numbers (x < 0) with 0. Positive numbers or zero are left unchanged.

The result of the list comprehension is assigned back to my_list, effectively updating the original list.

Finally, we print the updated list, which will display the elements with negative numbers replaced by 0.

In [187]:
# 43. Convert a string into a list of words.

In [188]:
# Define a string
my_string = "This is a sample sentence."

# Split the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of Words:", word_list)

List of Words: ['This', 'is', 'a', 'sample', 'sentence.']

Explaantion:
    
    We start by defining a string called my_string that contains the sentence you want to convert into a list of words.

We use the split() method on the string without providing any arguments. By default, split() splits the string using spaces as the delimiter, which separates the string into words.

The result of the split() method is assigned to the word_list variable, which contains a list of words extracted from the string.

Finally, we print word_list, which will display the list of words

In [189]:
# 44. Convert a list of words into a string.

In [190]:
# Define a list of words
word_list = ['This', 'is', 'a', 'sample', 'sentence.']

# Convert the list of words into a single string
my_string = ' '.join(word_list)

# Print the resulting string
print("Resulting String:", my_string)

Resulting String: This is a sample sentence.

Explanation:
    
    We start by defining a list called word_list that contains individual words you want to combine into a single string.

We use the join() method on a space character ' ' to concatenate the words from the list into a single string. The space character is used as a separator between words.

The result of the join() method is assigned to the my_string variable, which contains the combined string.

Finally, we print my_string, which will display the resulting string.

In [191]:
# 45. Create a list of the first `n` powers of 2.

In [192]:
# Define the value of n
n = 5  # Change this to the desired number of powers of 2

# Create a list of the first n powers of 2 using a list comprehension
powers_of_2 = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("First", n, "Powers of 2:", powers_of_2)

First 5 Powers of 2: [1, 2, 4, 8, 16]

Explanation:
    
    We start by defining the value of n, which represents the number of powers of 2 you want to generate.

We use a list comprehension to create the list of the first n powers of 2. Inside the list comprehension, 2 ** i calculates the power of 2 for each value of i in the range from 0 to n-1.

The result is a list called powers_of_2 containing the first n powers of 2.

Finally, we print powers_of_2, which will display the list of powers of 2 based on the specified value of n.

In [193]:
# 46. Find the longest string in a list of strings.

In [194]:
# Define a list of strings
string_list = ["apple", "banana", "cherry", "date", "grape"]

# Find the longest string in the list
longest_string = max(string_list, key=len)

# Print the longest string
print("Longest String:", longest_string)

Longest String: banana

Explanation:
    
    We start by defining a list called string_list that contains a collection of strings.

We use the max() function to find the longest string in the list. The key=len argument specifies a custom key function that calculates the length of each string. The max() function will return the string with the maximum length based on this custom key.

The result is stored in the longest_string variable.

Finally, we print longest_string, which will display the longest string in the list.

In [195]:
# 47. Find the shortest string in a list of strings.

In [196]:
# Define a list of strings
string_list = ["apple", "banana", "cherry", "date", "grape"]

# Find the shortest string in the list
shortest_string = min(string_list, key=len)

# Print the shortest string
print("Shortest String:", shortest_string)

Shortest String: date

Explanation:
    
    We start by defining a list called string_list that contains a collection of strings.

We use the min() function to find the shortest string in the list. The key=len argument specifies a custom key function that calculates the length of each string. The min() function will return the string with the minimum length based on this custom key.

The result is stored in the shortest_string variable.

Finally, we print shortest_string, which will display the shortest string in the list.

In [197]:
# 48. create a list of the first `n` triangular numbers.

In [198]:
# Define the value of n
n = 5  # Change this to the desired number of triangular numbers

# Create a list of the first n triangular numbers using a list comprehension
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

# Print the list of triangular numbers
print("First", n, "Triangular Numbers:", triangular_numbers)

First 5 Triangular Numbers: [1, 3, 6, 10, 15]

Explanation:
    
    We start by defining the value of n, which represents the number of triangular numbers you want to generate.

We use a list comprehension to create the list of the first n triangular numbers. Inside the list comprehension, (i * (i + 1)) // 2 calculates the i-th triangular number using the formula.

The range(1, n + 1) generates numbers from 1 to n, inclusive. These values of i correspond to the first n triangular numbers.

The result is a list called triangular_numbers containing the first n triangular numbers.

Finally, we print triangular_numbers, which will display the list of triangular numbers based on the specified value of n.

In [199]:
# 49. Check if a list contains another list as a subsequence.

In [200]:
# Define the main list and subsequence list
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
subsequence = [2, 4, 6]

# Convert both lists to sets
main_set = set(main_list)
subsequence_set = set(subsequence)

# Check if the subsequence is a subset of the main list
if subsequence_set.issubset(main_set):
    print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

Explanation:
    
    We define two lists: main_list, which represents the main list, and subsequence, which is the list we want to check if it's a subsequence of the main list.

We convert both lists to sets using the set() constructor. This step is essential because sets in Python have a built-in method for checking if one set is a subset of another set.

We use the issubset() method to check if subsequence_set is a subset of main_set. If it is, it means the subsequence was found in the main list.

Finally, we print a message indicating whether the subsequence is present in the main list or not.

In [201]:
# 50. Swap two elements in a list by their indices.

In [202]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Define the indices of the elements you want to swap
index1 = 1  # Index of the first element to be swapped
index2 = 3  # Index of the second element to be swapped

# Perform the swap using indexing
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

# Print the list after swapping
print("List after swapping:", my_list)

List after swapping: [1, 4, 3, 2, 5]

Explanation:
    
    We start by defining a list called my_list containing some elements.

We define the indices index1 and index2, representing the positions of the two elements you want to swap in the list. In this example, we're swapping the elements at index 1 and index 3.

We use tuple unpacking and list indexing to perform the swap. The expression my_list[index1], my_list[index2] represents a tuple with the values of the elements at the specified indices. By assigning this tuple to my_list[index2], my_list[index1], we swap the values of the two elements.

After the swap, my_list will contain the elements with their positions swapped.

Finally, we print my_list to display the list after the swapping operation.

TOPIC- TUPLE BASED PROBLEMS!!!

In [203]:
# 1. Create a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)

print(my_tuple)

(1, 2, 3, 4, 5)

In [204]:
# 2. Access the third element (index 2) of the tuple
third_element = my_tuple[2]
print(third_element)

3

In [205]:
# 3. Find the length of the tuple without using len()
length = sum(1 for _ in my_tuple)
print(length)

5

In [206]:
# 4. Count the occurrences of a specific element in the tuple
element_to_count = 3  # Replace with the element you want to count
count = sum(1 for item in my_tuple if item == element_to_count)
print(count)

1

Explanation:

We create a tuple my_tuple with integers from 1 to 5.

To access the third element of the tuple, we use indexing. In Python, indexing starts from 0, so the third element has an index of 2 (my_tuple[2]).

To find the length of the tuple without using the len() function, we can use a generator expression with the sum() function. We iterate through the tuple and add 1 for each element encountered. This effectively counts the number of elements in the tuple.

To count the occurrences of a specific element in the tuple, we define element_to_count with the element we want to count. We then use a generator expression with the sum() function to count how many times that element appears in the tuple.

In [207]:
# 5. Find the index of the first occurrence of an element in the tuple
element_to_find = 3  # Replace with the element you want to find
index = my_tuple.index(element_to_find)
print(index)

2

In [208]:
# 6. Check if an element exists in the tuple
element_to_check = 4  # Replace with the element you want to check
exists = element_to_check in my_tuple
print(exists)

True

In [209]:
# 7. Convert a tuple to a list
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [210]:
# 8. Convert a list to a tuple
my_new_tuple = tuple(my_list)
print(my_list)

[1, 2, 3, 4, 5]

In [211]:
# 9. Unpack the elements of a tuple into variables.

# Define a tuple
my_tuple = (1, "apple", 3.14, True)

# Unpack the elements of the tuple into variables
element1, element2, element3, element4 = my_tuple

# Print the unpacked variables
print("Element 1:", element1)
print("Element 2:", element2)
print("Element 3:", element3)
print("Element 4:", element4)

Element 1: 1
Element 2: apple
Element 3: 3.14
Element 4: True

In [212]:
# 10. Create a tuple of even numbers from 1 to 10
even_numbers_tuple = tuple(range(2, 11, 2))
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

Explanation:

To find the index of the first occurrence of an element in the tuple, we use the index() method, specifying the element_to_find as the argument.

To check if an element exists in the tuple, we use the in operator, specifying the element_to_check as the element we want to check.

To convert a tuple to a list, we use the list() constructor, passing the tuple as an argument.

To convert a list to a tuple, we use the tuple() constructor, passing the list as an argument.

To unpack the elements of a tuple into variables, we assign each variable to an element in the tuple. In this case, we have five variables to match the five elements in the tuple.

To create a tuple of even numbers from 1 to 10, we use the range() function with a step of 2 to generate even numbers and then convert the result to a tuple.

In [213]:
# 11. Create a tuple of odd numbers from 1 to 10
odd_numbers_tuple = tuple(range(1, 11, 2))
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [214]:
# 12. Comcatenate two tuples..

# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [215]:
# 13. Repeate a tuble three times.

# Define a tuple
original_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = original_tuple * 3

print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [216]:
# 14. Check if a tuple is empty.

# Define a tuple (you can also use an empty tuple for this)
my_tuple = (1, 2, 3)

# Check if the tuple is empty
is_empty = len(my_tuple) == 0


print(is_empty)

False

In [217]:
# 15. Create a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

((1, 2), (3, 4), (5, 6))

Explanation:

To create a tuple of odd numbers from 1 to 10, we use the range() function with a step of 2 to generate odd numbers and then convert the result to a tuple.

To concatenate two tuples, we use the + operator to combine tuple1 and tuple2 into a single concatenated_tuple.

To repeat a tuple three times, we use the * operator to create repeated_tuple, which contains three copies of the original_tuple.

To check if a tuple is empty, we use the len() function and compare it to 0. If the length of the tuple is 0, it means the tuple is empty, and is_empty will be True.

To create a nested tuple, we simply enclose multiple tuples within another tuple. In this case, nested_tuple contains three tuples as its elements.

In [218]:
# 16. Access the first element of a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]
print(first_element)

(1, 2)

In [219]:
# 17. Create a tuple with a single element
single_element_tuple = (42,)

print(single_element_tuple)

(42,)

In [220]:
# 18. Compare two tuples.

# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Compare the two tuples
are_equal = tuple1 == tuple2
print(are_equal)

True

In [221]:
# 19. Delete a tuple.

# Define a tuple

my_tuple = (1, 2, 3)

# Reassign the variable to a new tuple
my_tuple = ()  # Create an empty tuple

# Print the empty tuple
print(my_tuple)

()

In [222]:
# 20. Slice a tuple.

# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to create a new tuple
sliced_tuple = my_tuple[1:4]

print(sliced_tuple)

(2, 3, 4)

Explanation:

To access the first element of a nested tuple, we use indexing to retrieve the element at index 0 of the nested_tuple.

To create a tuple with a single element, we place a comma after the element inside parentheses. In this example, we create a single_element_tuple with the single element 42.

To compare two tuples for equality, we use the == operator. In this case, are_equal will be True because tuple1 and tuple2 have the same contents.

To delete a tuple, we use the del statement followed by the tuple's name (my_tuple in this case). After deletion, the tuple will no longer exist.

To slice a tuple, we use slicing notation to specify a range of indices. In this example, sliced_tuple contains elements from index 1 to 3 of my_tuple, creating a new tuple with the sliced elements.

In [223]:
#  21: Find the maximum value in a tuple.


tuple_example = (5, 9, 2, 7, 1)
max_value = max(tuple_example)
print("Maximum value:", max_value)

Maximum value: 9

In [224]:
# 22: Find the minimum value in a tuple.


tuple_example = (5, 9, 2, 7, 1)
min_value = min(tuple_example)
print("Minimum value:", min_value)

Minimum value: 1

In [225]:
# 23: Convert a string to a tuple of characters.



string_example = "Hello"
char_tuple = tuple(string_example)
print("String as tuple of characters:", char_tuple)

String as tuple of characters: ('H', 'e', 'l', 'l', 'o')

In [226]:
#  24: Convert a tuple of characters to a string.


tuple_example = ('H', 'e', 'l', 'l', 'o')
string_from_tuple = ''.join(tuple_example)
print("Tuple as a string:", string_from_tuple)

Tuple as a string: Hello

In [227]:
# 25: Create a tuple from multiple data types.


mixed_tuple = (1, 'two', 3.0)
print("Mixed tuple:", mixed_tuple)

Mixed tuple: (1, 'two', 3.0)

In [228]:
# 26: Check if two tuples are identical.


tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 == tuple2
print("Are the tuples identical?", are_identical)

Are the tuples identical? True

In [229]:
#  27: Sort the elements of a tuple.


unsorted_tuple = (5, 3, 8, 1, 6)
sorted_tuple = tuple(sorted(unsorted_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 3, 5, 6, 8)

In [230]:
#  28: Convert a tuple of integers to a tuple of strings.


int_tuple = (1, 2, 3)
str_tuple = tuple(str(item) for item in int_tuple)
print("Tuple of integers as strings:", str_tuple)

Tuple of integers as strings: ('1', '2', '3')

In [231]:
#  29: Convert a tuple of strings to a tuple of integers.


str_tuple = ('1', '2', '3')
int_tuple = tuple(int(item) for item in str_tuple)
print("Tuple of strings as integers:", int_tuple)

Tuple of strings as integers: (1, 2, 3)

In [232]:
#  30: Merge two tuples


tuple_a = (1, 2, 3)
tuple_b = (4, 5, 6)
merged_tuple = tuple_a + tuple_b
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [233]:
#  31: Flatten a nested tuple.


nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_list = [item for sublist in nested_tuple for item in sublist]
flattened_tuple = tuple(flattened_list)
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6)


EXPLANATION:---->>>

21: Find the maximum value in a tuple.
    In this task, we have a tuple named tuple_example containing     numerical values. The max() function is used to find and         return the maximum value within the tuple. In this example,     the maximum value in the tuple_example is found to be 9, and     it is printed as the result.

22: Find the minimum value in a tuple.
    Similar to Task 21, in this task, we have a tuple named         tuple_example with numerical values. The min() function is       employed to find and return the minimum value within the         tuple. In this example, the minimum value in the                 tuple_example is found to be 1, and it is printed as the         result.

23: Convert a string to a tuple of characters.
    Here, we start with a string variable string_example            containing the value "Hello." We use the tuple() constructor to   convert the string into a tuple of individual characters. The   result is a tuple named char_tuple that contains each character   from the original string as separate elements.

24: Convert a tuple of characters to a string.
    This task reverses the process from Task 23. We begin with a tuple named tuple_example that contains individual characters ('H', 'e', 'l', 'l', 'o'). To convert it back to a string, we use the .join() method to concatenate the characters within the tuple, resulting in the string "Hello."

25: Create a tuple from multiple data types.
    In this task, we create a tuple named mixed_tuple that contains elements of different data types: an integer (1), a string ("two"), and a float (3.0). Tuples can hold a mix of data types, making it a versatile data structure.

26: Check if two tuples are identical.
    Two tuples, tuple1 and tuple2, are defined in this task. To check if they are identical (i.e., contain the same elements in the same order), we use the equality operator ==. The result is a boolean value, and in this case, it's True because both tuples have the same elements.

27: Sort the elements of a tuple.
    An unsorted tuple, unsorted_tuple, is provided in this task. To sort its elements in ascending order, we use the sorted() function. The result is a sorted list, which we then convert back to a tuple using the tuple() constructor. The output, sorted_tuple, contains the elements of the original tuple sorted in ascending order.

28: Convert a tuple of integers to a tuple of strings.
    Here, we have a tuple named int_tuple containing integers (1, 2, 3). We use a list comprehension to convert each integer element into a string using the str() function. The result is a new tuple, str_tuple, containing the same values as strings.

29: Convert a tuple of strings to a tuple of integers.
    In this task, we have a tuple named str_tuple containing string representations of integers ("1", "2", "3"). We use a list comprehension to convert each string element into an integer using the int() function. The result is a new tuple, int_tuple, containing the same values as integers.

30: Merge two tuples.
    Two tuples, tuple_a and tuple_b, are provided. To merge them, we simply use the + operator to concatenate the two tuples. The result is a new tuple, merged_tuple, that contains all the elements from both tuple_a and tuple_b.

31: Flatten a nested tuple.
    In this task, we start with a nested tuple named nested_tuple, which contains inner tuples. To flatten it, we use a list comprehension to iterate through each inner tuple and extract its elements. These elements are then combined into a flattened list. Finally, the flattened list is converted back into a tuple, resulting in the flattened_tuple, which contains all the elements from the original nested tuple in a single level.

In [234]:
# 32: Create a tuple of the first 5 prime numbers


# Initialize variables
prime_numbers = []
num = 2

# Generate the first 5 prime numbers
while len(prime_numbers) < 5:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(num)
    num += 1

# Convert the list of prime numbers to a tuple
prime_tuple = tuple(prime_numbers)

# Print the tuple of the first 5 prime numbers
print(prime_tuple)





# Explanation:

# We initialize an empty list prime_numbers to store the first 5 prime numbers.
# We start with num set to 2 and use a while loop to find the prime numbers.
# Inside the loop, we check if num is prime by iterating through numbers from 2 to the square root of num. If we find any divisor other than 1 and itself, we set is_prime to False and break the loop.
# If is_prime remains True after the loop, we add num to the prime_numbers list.
# We increment num and continue the loop until we have 5 prime numbers.
# Finally, we convert the list prime_numbers to a tuple and print it."""

(2, 3, 5, 7, 11)

In [235]:
# 33: Check if a tuple is a palindrome


# Test if a tuple is a palindrome
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]

# Print the result
if is_palindrome:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

    
    
    

# Explanation:

# We have a tuple my_tuple that contains elements.
# To check if it's a palindrome, we use slicing ([::-1]) to reverse the tuple and then compare it with the original tuple.
# If the reversed tuple is the same as the original tuple, it's a palindrome, and is_palindrome is set to True.
# We print whether the tuple is a palindrome or not based on the value of is_palindrome.

The tuple is a palindrome.

In [236]:
# 34: Create a tuple of squares of numbers from 1 to 5.


# Using a list comprehension to create a tuple of squares
squares_tuple = tuple(x**2 for x in range(1, 6))

# Print the tuple of squares
print(squares_tuple)




# Explanation:

# We use a list comprehension to create a tuple squares_tuple by iterating over numbers from 1 to 5 (inclusive).
# For each number, we calculate its square (x**2) and collect these squared values in the tuple.
# Finally, we print the squares_tuple, which contains the squares of numbers from 1 to 5.

(1, 4, 9, 16, 25)

In [237]:
# 35: Filter out all even numbers from a tuple.


# Test the function with a tuple
original_tuple = (1, 2, 3, 4, 5, 6)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

# Print the filtered tuple
print(filtered_tuple)



# Explanation:

# We have an original tuple original_tuple containing some numbers.
# We use a list comprehension to create a new tuple filtered_tuple by iterating over the elements of original_tuple and including only those that are not even (where x % 2 != 0).
# This filters out all even numbers from the original tuple.
# Finally, we print the filtered_tuple.

(1, 3, 5)

In [238]:
#  36: Multiply all elements in a tuple by 2.


# Test the function with a tuple
original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in original_tuple)

# Print the doubled tuple
print(doubled_tuple)




# Explanation:

# We have an original tuple original_tuple containing some numbers.
# We use a list comprehension to create a new tuple doubled_tuple by iterating over the elements of original_tuple and multiplying each element by 2 (x * 2).
# This operation doubles all the values in the original tuple.
# Finally, we print the doubled_tuple, which contains all elements multiplied by 2.

(2, 4, 6, 8, 10)

In [239]:
#  37: Create a tuple of random numbers


import random

# Generate a tuple of 5 random numbers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Print the tuple of random numbers
print(random_tuple)

(42, 24, 98, 39, 53)

Explanation:

We import the random module to generate random numbers.
Using a list comprehension, we generate 5 random integers between 1 and 100 and convert them into a tuple.
Finally, we print the tuple of random numbers.

In [240]:
# 38: Check if a tuple is sorted


# Check if a tuple is sorted in ascending order
my_tuple = (1, 2, 3, 4, 5)
is_sorted = my_tuple == tuple(sorted(my_tuple))

# Print the result
if is_sorted:
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

Explanation:

We have a tuple my_tuple containing elements in ascending order.
To check if it's sorted, we sort the tuple using the sorted() function, and then we compare it with the original tuple.
If the sorted tuple is equal to the original tuple, it means the original tuple is sorted in ascending order.
We print whether the tuple is sorted or not based on the value of is_sorted.

In [241]:
#  39: Rotate a tuple to the left by n positions.


# Rotate a tuple to the left by n positions
def rotate_left(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)
    rotated_tuple = tuple_to_rotate[n:] + tuple_to_rotate[:n]
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_left(my_tuple, n)

# Print the rotated tuple
print(rotated_tuple)

(3, 4, 5, 1, 2)

Explanation:

We define a function rotate_left that takes a tuple and the number of positions to rotate.
To rotate left, we calculate the effective rotation value as n % len(tuple_to_rotate) to handle cases where n is larger than the tuple's length.
We create a new tuple rotated_tuple by concatenating the slice of elements from position n to the end with the slice from the beginning to position n.
Finally, we print the rotated tuple.

In [242]:
# 40: Rotate a tuple to the right by n positions.


# Rotate a tuple to the right by n positions
def rotate_right(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)
    rotated_tuple = tuple_to_rotate[-n:] + tuple_to_rotate[:-n]
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_right(my_tuple, n)

# Print the rotated tuple
print(rotated_tuple)

(4, 5, 1, 2, 3)

Explanation:

We define a function rotate_right that takes a tuple and the number of positions to rotate.
Similar to the left rotation, we calculate the effective rotation value as n % len(tuple_to_rotate).
We create a new tuple rotated_tuple by concatenating the slice of elements from the last -n positions to the end with the slice from the beginning to the last -n positions.
This effectively rotates the tuple to the right by n positions.
Finally, we print the rotated tuple.

In [243]:
#  41: Create a tuple of the first 5 Fibonacci numbers.


# Generate a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = (0, 1, 1, 2, 3)

# Print the tuple of Fibonacci numbers
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

Explanation:

We manually create a tuple fibonacci_tuple containing the first 5 Fibonacci numbers (0, 1, 1, 2, 3).
Fibonacci numbers are a sequence where each number is the sum of the two preceding ones.
We print the tuple of Fibonacci numbers.

In [245]:
#   42: Create a tuple from user input.


# Take user input and create a tuple
user_input = input("Enter comma-separated values for the tuple: ")
user_input = user_input.split(",")
user_tuple = tuple(map(int, user_input))

# Print the user-created tuple
print(user_tuple)

Enter comma-separated values for the tuple:  10,50

(10, 50)

Explanation:

We prompt the user to enter values separated by commas.
We split the user's input using split(",") to obtain a list of strings.
We then use map(int, user_input) to convert each string to an integer, and finally, we convert the resulting iterable into a tuple.
We print the user-created tuple.

In [246]:
#  43: Swap two elements in a tuple.


# Swap two elements in a tuple
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
tuple_list = list(my_tuple)
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
swapped_tuple = tuple(tuple_list)

# Print the swapped tuple
print(swapped_tuple)

(1, 4, 3, 2, 5)

Explanation:

We have a tuple my_tuple containing elements.
To swap elements at positions index1 and index2, we first convert the tuple to a list (tuple_list).
We then use tuple unpacking to swap the elements in the list.
After swapping, we convert the list back into a tuple swapped_tuple.
Finally, we print the swapped tuple.

In [247]:
#  44: Reverse the elements of a tuple.


# Reverse the elements of a tuple
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print(reversed_tuple)

(5, 4, 3, 2, 1)

Explanation:

We have a tuple my_tuple containing elements.
To reverse the elements, we use slicing with a step of -1, which effectively reverses the order of the elements.
We create a new tuple reversed_tuple with the reversed order.
Finally, we print the reversed tuple.

In [248]:
# 45: Create a tuple of the first n powers of 2.


# Generate a tuple of the first n powers of 2
n = 5
powers_of_2_tuple = tuple(2**i for i in range(n))

# Print the tuple of powers of 2
print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

Explanation:

We specify the value of n to determine how many powers of 2 we want in the tuple.
We use a generator expression to create a tuple containing the first n powers of 2 by calculating 2**i for each i in the range from 0 to n-1.
Finally, we print the tuple of powers of 2.

In [252]:
# 46. Find the longest string in a tuple of strings
my_tuple = ("apple", "banana", "cherry", "date")
longest_string = max(my_tuple, key=len)

# Print the longest string
print("The longest string is:", longest_string)

The longest string is: banana

Explanation:

We have a tuple my_tuple that contains strings.
We use the max() function to find the longest string in the tuple. The key=len argument tells max() to compare the strings based on their lengths.
The max() function returns the element with the maximum length (i.e., the longest string).
We store the longest string in the variable longest_string.
Finally, we print the result, indicating that longest_string is the longest string in the tuple.

In [254]:
#  47: Find the shortest string in a tuple of strings.


# Find the shortest string in a tuple of strings
my_tuple = ("apple", "banana", "cherry", "date")
shortest_string = min(my_tuple, key=len)

# Print the shortest string
print("The shortest string is:", shortest_string)

The shortest string is: date

Explanation:

We have a tuple my_tuple that contains strings.
We use the min() function to find the shortest string in the tuple. The key=len argument tells min() to compare the strings based on their lengths.
The min() function returns the element with the minimum length (i.e., the shortest string).
We store the shortest string in the variable shortest_string.
Finally, we print the result, indicating that shortest_string is the shortest string in the tuple.

In [255]:
# 48: Create a tuple of the first n triangular numbers.


# Generate a tuple of the first n triangular numbers
n = 5
triangular_numbers = [n * (n + 1) // 2 for n in range(1, n + 1)]
triangular_tuple = tuple(triangular_numbers)

# Print the tuple of triangular numbers
print(triangular_tuple)

(1, 3, 6, 10, 15)

Explanation:

We specify the value of n to determine how many triangular numbers we want in the tuple.
Triangular numbers are calculated as n * (n + 1) // 2.
We use a list comprehension to generate the first n triangular numbers by iterating through the range from 1 to n.
Finally, we convert the list of triangular numbers into a tuple and print it.

In [256]:
# 49: Check if a tuple contains another tuple as a subsequence.


# Check if a tuple contains another tuple as a subsequence
main_tuple = (1, 2, 3, (4, 5), 6, 7)
sub_tuple = (4, 5)

if sub_tuple in main_tuple:
    print("The sub-tuple is present in the main tuple.")
else:
    print("The sub-tuple is not present in the main tuple.")

The sub-tuple is present in the main tuple.

Explanation:

We have a main tuple main_tuple that contains various elements, including another tuple (4, 5).
We want to check if the sub-tuple (4, 5) is present as a subsequence within the main tuple.
We use the in operator to perform this check. If the sub-tuple is found within the main tuple, it prints a message indicating its presence; otherwise, it prints a message indicating its absence.

In [258]:
#   50: Create a tuple of alternating 1s and 0s of length n.


# Create a tuple of alternating 1s and 0s of length n
n = 8
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Print the alternating tuple
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0)

Explanation:

We specify the value of n to determine the length of the tuple containing alternating 1s and 0s.
We use a tuple comprehension to create the alternating tuple by iterating through the range from 0 to n-1.
For each index i, we use a conditional expression to determine whether to add a 1 or a 0 to the tuple based on whether i is even or odd.
Finally, we print the alternating tuple.

SET BASED PRACTICE PROBLEMS---->>>>

In [260]:
# 1: Create a set with integers from 1 to 5.


my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

Explanation:

We use curly braces {} to create a set, which is an unordered collection of unique elements.
Inside the braces, we list integers from 1 to 5, creating a set my_set with these values.
Finally, we print the set, which may not maintain the order of elements.

In [261]:
# 2. Add an element to a set.


my_set = {1, 2, 3}
my_set.add(4)

# Print the updated set
print(my_set)

{1, 2, 3, 4}

Explanation:

We have a set my_set initially containing elements 1, 2, and 3.
We use the add() method to add the element 4 to the set.
After adding 4, we print the updated set, which now includes 4 as well.

In [262]:
# 3. Remove an element from a set
my_set = {1, 2, 3, 4}
my_set.remove(3)

# Print the updated set
print(my_set)

{1, 2, 4}

Explanation:

We have a set my_set containing elements 1, 2, 3, and 4.
We use the remove() method to remove the element 3 from the set.
After removal, we print the updated set, which no longer contains 3.

In [263]:
# 4. Check if an element exists in a set.


my_set = {1, 2, 3, 4, 5}
element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

Explanation:

We have a set my_set containing elements 1, 2, 3, 4, and 5.
We want to check if element_to_check (which is 3 in this case) exists in the set.
We use an if statement with the in operator to perform the check. If the element is found in the set, it prints a message indicating its presence; otherwise, it prints a message indicating its absence.

In [264]:
# 5. Find the length of a set without using len().



my_set = {1, 2, 3, 4, 5}
count = 0

for _ in my_set:
    count += 1

# Print the length of the set
print("The length of the set is:", count)

The length of the set is: 5

Explanation:

We have a set my_set containing elements.
To find the length of the set without using the len() function, we initialize a variable count to 0.
We iterate through the elements of the set using a for loop and increment count for each element encountered.
Finally, we print the value of count, which represents the length of the set.

In [265]:
# 6. Clear all elements from a set.



my_set = {1, 2, 3, 4, 5}
my_set.clear()

# Print the empty set
print(my_set)

set()

Explanation:

We have a set my_set containing elements.
We use the clear() method to remove all elements from the set, making it an empty set.
After clearing, we print the set, which is now empty.

In [266]:
# 7. Create a set of even numbers from 1 to 10.



even_set = {x for x in range(2, 11, 2)}

# Print the set of even numbers
print(even_set)

{2, 4, 6, 8, 10}

Explanation:

We use a set comprehension to create a set even_set containing even numbers.
The comprehension iterates through the range from 2 to 10 (inclusive) with a step of 2, which generates even numbers.
Finally, we print the set of even numbers.

In [267]:
# 8. Create a set of odd numbers from 1 to 10.



odd_set = {x for x in range(1, 11, 2)}

# Print the set of odd numbers
print(odd_set)

{1, 3, 5, 7, 9}

Explanation:

Similar to the previous task, we use a set comprehension to create a set odd_set, but this time, it contains odd numbers.
The comprehension iterates

In [268]:
# 9. Find the union of two sets.



set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)

# Print the union set
print(union_set)

{1, 2, 3, 4, 5}

Explanation:

We have two sets, set1 and set2, each containing distinct elements.
We use the union() method or the | operator to find the union of these two sets, which includes all unique elements from both sets.
Finally, we print the union set.

In [269]:
# 10. Find the intersection of two sets.



set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)

# Print the intersection set
print(intersection_set)

{3}

Explanation:

We have two sets, set1 and set2, each containing distinct elements.
We use the intersection() method or the & operator to find the intersection of these two sets, which includes elements that are common to both sets.
Finally, we print the intersection set.

In [270]:
# 11. Find the difference between two sets.


set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)

# Print the difference set
print(difference_set)

{1, 2}

Explanation:

We have two sets, set1 and set2, each containing distinct elements.
We use the difference() method or the - operator to find the difference between set1 and set2. This results in a set containing elements that are in set1 but not in set2.

In [271]:
# 12. Check if a set is a subset of another set.



set1 = {1, 2, 3, 4, 5}
subset_set = {2, 3}

if subset_set.issubset(set1):
    print("subset_set is a subset of set1.")
else:
    print("subset_set is not a subset of set1.")

subset_set is a subset of set1.

Explanation:

We have two sets, set1 and subset_set.
We use the issubset() method to check if subset_set is a subset of set1.
If subset_set is a subset of set1, it prints a message indicating that; otherwise, it prints a message indicating that it's not a subset.

In [272]:
# 13. Check if a set is a superset of another set.


set1 = {1, 2, 3, 4, 5}
superset_set = {2, 3}

if set1.issuperset(superset_set):
    print("set1 is a superset of superset_set.")
else:
    print("set1 is not a superset of superset_set.")

set1 is a superset of superset_set.

Explanation:

We have two sets, set1 and superset_set.
We use the issuperset() method to check if set1 is a superset of superset_set.
If set1 is a superset of superset_set, it prints a message indicating that; otherwise, it prints a message indicating that it's not a superset.

In [273]:
# 14. Create a set from a list.


my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

Explanation:

We have a list my_list containing elements.
We use the set() constructor to create a set my_set from the elements of the list.
Finally, we print the set.

In [274]:
# 15. Convert a set to a list.


my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

Explanation:

We have a set my_set containing elements.
We use the list() constructor to convert the set into a list my_list.
Finally, we print the list.

In [275]:
# 16: Remove a random element from a set.


import random

# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set
random_element = random.choice(tuple(my_set))
my_set.remove(random_element)

# Print the set after removal
print(my_set)

{1, 2, 3, 4}

Explanation:

We import the random module to work with random elements.
We have a set my_set containing elements.
We use random.choice() to select a random element from the set. Since sets are unordered, we convert the set to a tuple first to make it indexable.
We remove the selected random element from the set using the remove() method.
Finally, we print the set after removal.

In [276]:
# 17. Pop an element from a set.


my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()

# Print the popped element and the updated set
print("Popped Element:", popped_element)
print("Updated Set:", my_set)

Popped Element: 1
Updated Set: {2, 3, 4, 5}

Explanation:

We have a set my_set containing elements.
We use the pop() method to remove and return an arbitrary element from the set.
The popped element is stored in the variable popped_element, and the set is updated without that element.
We print both the popped element and the updated set.

In [277]:
# 18. Check if two sets have no elements in common.


set1 = {1, 2, 3}
set2 = {4, 5, 6}

if not set1.isdisjoint(set2):
    print("The sets have elements in common.")
else:
    print("The sets have no elements in common.")

The sets have no elements in common.

Explanation:

We have two sets, set1 and set2.
We use the isdisjoint() method to check if the two sets have no elements in common.
If the sets have no common elements, it prints a message indicating that. If they do have common elements, it prints a message indicating that they have elements in common.

In [278]:
# 19. Find the symmetric difference between two sets.


set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_difference = set1.symmetric_difference(set2)

# Print the symmetric difference
print(symmetric_difference)

{1, 2, 5, 6}

Explanation:

We have two sets, set1 and set2.
We use the symmetric_difference() method or the ^ operator to find the symmetric difference between the two sets. The symmetric difference contains elements that are in either of the sets but not in both.
Finally, we print the symmetric difference.

In [279]:
# 20. Update a set with elements from another set.


set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)

# Print the updated set1
print(set1)

{1, 2, 3, 4, 5}

Explanation:

We have two sets, set1 and set2.
We use the update() method to update set1 with elements from set2. This adds elements from set2 to set1.
Finally, we print the updated set1.

In [280]:
# 21. Create a set of the first 5 prime numbers.


prime_set = {2, 3, 5, 7, 11}

# Print the set of prime numbers
print(prime_set)

{2, 3, 5, 7, 11}

Explanation:

We manually create a set prime_set containing the first 5 prime numbers (2, 3, 5, 7, 11).
Prime numbers are numbers greater than 1 that are divisible only by 1 and themselves.
We print the set of prime numbers.

In [281]:
# 22. Check if two sets are identical.


set1 = {1, 2, 3}
set2 = {2, 3, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

Explanation:

We have two sets, set1 and set2, with the same elements but potentially in a different order.
We use the equality operator == to check if the sets are identical, meaning they have the same elements regardless of the order.
If the sets are identical, it prints a message indicating that. If they are not identical, it prints a message indicating that they are not identical.

In [282]:
# 23. Create a frozen set.



my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)

# Print the frozen set
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

Explanation:

We have a regular set my_set containing elements.
We use the frozenset() constructor to create a frozen set frozen_set. Frozen sets are immutable, unlike regular sets.
Finally, we print the frozen set.

In [283]:
# 24. Check if a set is disjoint with another set.


set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint (have no common elements).")
else:
    print("The sets are not disjoint (have common elements).")

The sets are disjoint (have no common elements).

Explanation:

We have two sets, set1 and set2.
We use the isdisjoint() method to check if the sets are disjoint, meaning they have no common elements.
If the sets are disjoint, it prints a message indicating that. If they are not disjoint, it prints a message indicating that they have common elements.

In [284]:
# 25. Create a set of squares of numbers from 1 to 5.


squares_set = {x**2 for x in range(1, 6)}

# Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

Explanation:

We use a set comprehension to create a set squares_set containing the squares of numbers from 1 to 5.
The comprehension iterates through the range from 1 to 5 and calculates the square of each number using x**2.
Finally, we print the set of squares.

In [286]:
# 26. Filter out all even numbers from a set.


my_set = {1, 2, 3, 4, 5}
filtered_set = {x for x in my_set if x % 2 != 0}

# Print the filtered set
print(filtered_set)

{1, 3, 5}

Explanation:

We have a set my_set containing elements, including both even and odd numbers.
We use a set comprehension to create a filtered_set containing only the odd numbers from my_set. The comprehension filters out even numbers using the condition x % 2 != 0.
Finally, we print the filtered set.

In [287]:
# 27. Multiply all elements in a set by 2.


my_set = {1, 2, 3, 4, 5}
multiplied_set = {x * 2 for x in my_set}

# Print the multiplied set
print(multiplied_set)

{2, 4, 6, 8, 10}

Explanation:

We have a set my_set containing elements.
We use a set comprehension to create a multiplied_set in which each element is multiplied by 2.
Finally, we print the multiplied set.

In [288]:
# 28: Create a set of random numbers.

import random

# Create a set of random numbers
random_set = {random.randint(1, 100) for _ in range(5)}

# Print the set of random numbers
print(random_set)

{97, 6, 39, 40, 81}

Explanation:

We import the random module to generate random numbers.
We use a set comprehension to create a random_set containing 5 random integers between 1 and 100 (inclusive).
Finally, we print the set of random numbers.

In [289]:
# 29. Check if a set is empty.


my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

Explanation:

We create an empty set my_set using set().
We check if the set is empty by using an if statement with the condition not my_set. If the set is empty, it prints a message indicating that. If it's not empty, it prints a message indicating that it's not empty.

In [290]:
# 30. Create a nested set using frozenset.


nested_set = frozenset({1, 2, frozenset({3, 4})})

# Print the nested set
print(nested_set)

frozenset({frozenset({3, 4}), 1, 2})

Explanation:

We create a nested set nested_set using frozenset(). A nested set contains other sets as its elements.
In this example, we have a set containing elements 1, 2, and another frozen set frozenset({3, 4}) as an element.
Finally, we print the nested set.

In [291]:
# 31. Remove an element from a set using the discard method.


my_set = {1, 2, 3, 4, 5}
element_to_remove = 3
my_set.discard(element_to_remove)

# Print the set after removal
print(my_set)

{1, 2, 4, 5}

Explanation:

We have a set my_set containing elements.
We use the discard() method to remove element_to_remove (which is 3 in this case) from the set. If the element is not in the set, discard() has no effect.
Finally, we print the set after removal.

In [292]:
# 32.Compare two sets.


set1 = {1, 2, 3}
set2 = {2, 3, 4}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are not equal.

Explanation:

We have two sets, set1 and set2.
We use the equality operator == to check if the sets are equal, meaning they have the same elements, regardless of their order.
If the sets are equal, it prints a message indicating that. If they are not equal, it prints a message indicating that they are not equal.

In [293]:
# 33. Create a set from a string.


my_string = "hello"
string_set = set(my_string)

# Print the set
print(string_set)

{'l', 'o', 'e', 'h'}

Explanation:

We have a string my_string.
We use the set() constructor to create a set string_set from the characters of the string. Each character becomes an element in the set.
Finally, we print the set of characters.

In [294]:
# 34. Convert a set of strings to a set of integers.


string_set = {"1", "2", "3", "4", "5"}
int_set = {int(x) for x in string_set}

# Print the set of integers
print(int_set)

{1, 2, 3, 4, 5}

Explanation:

We have a set string_set containing string representations of integers.
We use a set comprehension to create a new set int_set, where we convert each string element to an integer using int(x).
Finally, we print the set of integers.

In [295]:
# 35. Convert a set of integers to a set of strings.


int_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in int_set}

# Print the set of strings
print(string_set)

{'3', '1', '4', '2', '5'}

Explanation:

We have a set int_set containing integers.
We use a set comprehension to create a new set string_set, where we convert each integer element to a string using str(x).
Finally, we print the set of strings.

In [296]:
# 36. Create a set from a tuple.


my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)

# Print the set
print(tuple_set)

{1, 2, 3, 4, 5}

Explanation:

We have a tuple my_tuple containing elements.
We use the set() constructor to create a set tuple_set from the elements of the tuple.
Finally, we print the set.

In [297]:
# 37. Convert a set to a tuple.


my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)

# Print the tuple
print(set_tuple)

(1, 2, 3, 4, 5)

Explanation:

We have a set my_set containing elements.
We use the tuple() constructor to convert the set into a tuple set_tuple.
Finally, we print the tuple.

In [298]:
# 38. Find the maximum value in a set.


my_set = {10, 5, 20, 30, 15}
max_value = max(my_set)

# Print the maximum value
print("The maximum value is:", max_value)

The maximum value is: 30

Explanation:

We have a set my_set containing numeric elements.
We use the max() function to find the maximum value within the set.
Finally, we print the maximum value.

In [299]:
# 39. Find the minimum value in a set.


my_set = {10, 5, 20, 30, 15}
min_value = min(my_set)

# Print the minimum value
print("The minimum value is:", min_value)

The minimum value is: 5

Explanation:

We have a set my_set containing numeric elements.
We use the min() function to find the minimum value within the set.
Finally, we print the minimum value.

In [300]:
# 40. Create a set from user input.


input_string = input("Enter elements separated by spaces: ")
user_set = set(input_string.split())

# Print the user-set
print("User-set:", user_set)

Enter elements separated by spaces:  sourabh yadav pwskills ineurone

User-set: {'ineurone', 'pwskills', 'yadav', 'sourabh'}

Explanation:

We use the input() function to take user input, which should be a string of elements separated by spaces.
We split the input string into a list using split().
We use the set() constructor to create a set user_set from the elements entered by the user.
Finally, we print the user-set.

In [301]:
# 41. Check if the intersection of two sets is empty.



set1 = {1, 2, 3}
set2 = {4, 5, 6}

if not set1.intersection(set2):
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is empty.

Explanation:

We have two sets, set1 and set2.
We use the intersection() method to find the intersection of the two sets.
We check if the intersection is empty by using an if statement with the condition not set1.intersection(set2). If the intersection is empty, it prints a message indicating that. If it's not empty, it prints a message indicating that the intersection is not empty.

In [302]:
# 42. Create a set of the first 5 Fibonacci numbers.


fib_set = {0, 1, 1, 2, 3}

# Print the set of Fibonacci numbers
print(fib_set)

{0, 1, 2, 3}

Explanation:

We manually create a set fib_set containing the first 5 Fibonacci numbers (0, 1, 1, 2, 3).
Fibonacci numbers are a sequence where each number is the sum of the two preceding ones.
In this case, we include duplicates (1) because sets do not allow duplicates, so it effectively removes them.

In [303]:
# 43. Remove duplicates from a list using sets.


my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
unique_list = list(unique_set)

# Print the list without duplicates
print("Original List:", my_list)
print("List without Duplicates:", unique_list)

Original List: [1, 2, 2, 3, 4, 4, 5]
List without Duplicates: [1, 2, 3, 4, 5]

Explanation:

We have a list my_list containing elements, including duplicates.
We use a set unique_set to store the unique elements by converting the list to a set. Sets automatically remove duplicates.
We then convert the set back to a list unique_list to obtain a list without duplicates.
Finally, we print both the original list and the list without duplicates.

In [304]:
# 44. Check if two sets have the same elements, regardless of their count.


set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

Explanation:

We have two sets, set1 and set2, with the same elements but potentially in a different order.
We use the equality operator == to check if the sets have the same elements, regardless of their order.
If the sets have the same elements, it prints a message indicating that. If they do not have the same elements, it prints a message indicating that they do not have the same elements.

In [305]:
# 45. Create a set of the first n powers of 2.


n = 5
powers_of_2_set = {2 ** i for i in range(n)}

# Print the set of powers of 2
print(powers_of_2_set)

{1, 2, 4, 8, 16}

Explanation:

We have a variable n that determines the number of powers of 2 to generate.
We use a set comprehension to create a set powers_of_2_set containing the first n powers of 2. We use the ** operator to calculate the powers.
Finally, we print the set of powers of 2.

In [306]:
# 46. Find the common elements between a set and a list.


my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set.intersection(my_list)

# Print the common elements
print("Common Elements:", common_elements)

Common Elements: {3, 4, 5}

Explanation:

We have a set my_set and a list my_list.
We use the intersection() method to find the common elements between the set and the list.
The common elements are stored in the common_elements set.
Finally, we print the common elements.

In [307]:
# 47. Create a set of the first n triangular numbers.


n = 5
triangular_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

# Print the set of triangular numbers
print(triangular_set)

{1, 3, 6, 10, 15}

Explanation:

We have a variable n that determines the number of triangular numbers to generate.
We use a set comprehension to create a set triangular_set containing the first n triangular numbers.
Triangular numbers are a sequence where each number is the sum of the natural numbers from 1 to n. We calculate it using the formula (n * (n + 1)) / 2.
Finally, we print the set of triangular numbers.

In [308]:
# 48. Check if a set contains another set as a subset.


set1 = {1, 2, 3, 4, 5}
subset_set = {2, 3}

if subset_set.issubset(set1):
    print("subset_set is a subset of set1.")
else:
    print("subset_set is not a subset of set1.")

subset_set is a subset of set1.

Explanation:

We have two sets, set1 and subset_set.
We use the issubset() method to check if subset_set is a subset of set1.
If subset_set is a subset of set1, it prints a message indicating that. If it's not a subset, it prints a message indicating that it's not a subset.

In [309]:
# 49. Create a set of alternating 1s and 0s of length n.


n = 5
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

# Print the set of alternating 1s and 0s
print(alternating_set)

{0, 1}

Explanation:

We have a variable n that determines the length of the set of alternating 1s and 0s.
We use a set comprehension to create the set alternating_set, where we alternate between 1 and 0 based on the index i. If i is even, we put 1; if i is odd, we put 0.
Finally, we print the set of alternating 1s and 0s.

In [310]:
# 50. Merge multiple sets into one.


set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)

# Print the merged set
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}

Explanation:

We have three sets, set1, set2, and set3.
We use the union() method to merge all three sets into one merged_set. The union() method can take multiple sets as arguments.
Finally, we print the merged set containing elements from all three sets.